[2015-01-07 21:20] JSchilli1 opened #2 "mpv installs unnecessary documentation"
mpv installs unnecessary files in /usr/share/doc

[2015-01-07 21:44] kori commented on #2
Fixed by  7b01169

[2015-01-07 21:44] #2 closed

[2015-01-09 08:11] kori opened #3 "Remove toilet and libcaca."
z3bra already maintains these ports:

http://git.z3bra.org/cgit.cgi/crux/tree/toilet/Pkgfile
http://git.z3bra.org/cgit.cgi/crux/tree/libcaca/Pkgfile

[2015-01-09 18:35] JSchilli1 commented on #3
z3bra's port installs man pages to /usr/share/man (instead of /usr/man), is version 0.99.beta18 (instead of the latest, beta19), doesn't include dependencies, and isn't in our repo! personally, i think having multiple ports of the same package is a good thing, it gives users freedom of choice. there are also multiple ports available for the same software package on crux.nu user repos, i don't see

[2015-01-11 11:58] kyubiko commented on #3
Personally I think out is better to include as many ports as we can, even if they are duplicates. It is far nicer to add one repo and be able to install a bunch of packages, instead of ending up with a system with lots of repos added each one only with a few actually installed packages in.

[2015-01-11 22:45] kori commented on #3
Good points.
Well, I also think we can maintain these.
We have more contributors so it's easier to point out if updates are needed.

[2015-01-11 22:45] #3 closed

[2015-01-12 11:43] kyubiko opened #5 "mpv depends on packages in contrib"
Contrib is not enabled by default, so the user will have to add it to use our mpv port. This seems to defeat the point of having an mpv port, as if the user has to add contrib anyway they may as well use the existing mpv port in contrib. The only difference between ours and the contrib port being that ours is a git checkout. The way I see it there are 2 alternatives to the current state; removing

[2015-01-12 17:27] kori commented on #5
`contrib` is invariably necessary if you're looking for a proper desktop system.

It contains a bunch of dependencies for a bunch of ports.

Choosing between our port and mpv from contrib is choosing between following upstream and stable, respectively.

[2015-01-12 17:28] #5 closed

[2015-01-12 17:31] kyubiko commented on #5
That makes sense, closing.

[2015-01-25 22:26] kori opened #7 "vim-x11?"
What's the difference between 6c37/vim-x11 and opt/gvim?

[2015-01-26 13:36] onodera-punpun commented on #7
This is compiled with X11 support, but without the GUI. The key difference between this and vim in the repos is that Xorg clipboards are supported ("* and "+ registers). GUI is not compiled in. (It's only about 0.15 MB smaller than gvim, and is specifically for people who want X11 clipboard support but not the GUI for some reason).

[2015-01-26 13:36] #7 closed

[2015-01-26 13:44] kori commented on #7
Fair enough.

[2015-02-08 14:29] rtlanceroad opened #9 "zathura: rm -r ${PKG}/usr/share is not good for user"
I don't think removing ${PKG}/usr/share is a good idea, because it also removes ${PKG}/usr/share/applications/zathura.desktop  this desktop entry.  People who are using xfce4(including me) will not find it in xfce4 menu.

[2015-02-08 19:49] kori commented on #9
Oh, this might be a bug.
I did rm $PKG/usr/share in the girara port because it was an empty dir but for zathura it might have useful things.

[2015-02-11 18:08] Zanthas opened #10 "Missing md5sums"
Alot of these ports are missing their md5sum, this is an unacceptable oversight.

If you're the maintainer of a port double check the .m5sum files to make sure its not blank.

[2015-02-12 00:49] kori commented on #10
If it's a git port, there's no md5sum, as it doesn't work on directories.

[2015-02-12 00:49] #10 closed

[2015-03-06 22:27] kori commented on #9
Fixed in c3240d9.

[2015-03-06 22:27] #9 closed

[2015-03-08 01:09] rtlanceroad commented on #9
Thanks

[2015-04-10 02:57] jschx opened #11 "lemonbar: Use .tar.gz release from GitHub."
I think we should use .tar.gz releases rather than git fetching wherever possible.

[2015-04-16 01:29] jschx commented on #11
Fixed.

[2015-04-16 01:29] #11 closed

[2015-04-25 11:41] onodera-punpun opened #12 "mpd: Add "&& /usr/bin/mpc pause" to /etc/rc.d/mpd?"
This way music doesn't immediately start playing on boot: the "downside" is that we need to add mpc as a dependency.

[2015-04-25 17:12] kori commented on #12
Music doesn't immediately start playing on boot, though.

Do you have a differing setup?

[2015-04-28 14:19] rtlanceroad opened #13 "tint2-svn package request"
I don't know this is the right place to request a package, but I think I should do. If someone feels uncomfortable about it, please close it.

Some of you guys may use tint2(0.11) in our official repo, but it's too old, and it was released on 2011 or before. Now as I can see, tint2 in svn has a new feature in it---launcher. More info about launcher can be seen in code.google.com/p/tint2 .

And in

[2015-05-11 07:53] KittyKatt commented on #12
Depends on if you stopped MPD the last time it was running or not. If you didn't, it's state still exists as "play", so it will play when started.

[2015-06-07 01:05] rtlanceroad commented on #13
@kori  @lainsce  :+1:    Thanks, you guys. I think I can close it now.

[2015-06-07 01:05] #13 closed

[2015-06-07 01:07] kori commented on #13
No problem.

Sorry it took so long.

[2015-06-12 11:25] onodera-punpun opened #14 "libressl: 2.1.6 -> 2.1.7"
I don't use libressl anymore, so I can't test & update.

[2015-06-12 13:38] lainsce commented on #14
Package updated and ready to be installed.

[2015-06-12 13:38] #14 closed

[2015-07-16 14:28] onodera-punpun opened #15 "Update LibreSSL to OpenBSD-current (2.2.1)"
Arch (AUR) and Void also use this version.

http://www.libressl.org/

[2015-07-16 19:14] kori commented on #15
Done.
 5490e05

[2015-07-16 19:14] #15 closed

[2015-07-16 20:10] kori commented on #12
It only does that when state_file is defined in your mpd.conf.

[2015-07-16 20:10] #12 closed

[2015-07-25 19:01] onodera-punpun opened #16 "3.2 branch: Move man pages to /usr/share/man"

[2015-07-25 20:38] kori commented on #16
This is a bit more complicated than what could be done for the git ports, so let's work on this when 3.2 comes out, but not any earlier.

[2015-08-08 17:03] onodera-punpun opened #17 "libressl: Update to 2.2.2"
(I don't use libressl, so can't update)

[2015-08-13 02:27] kori commented on #17
Done in 6084a1d.

[2015-08-13 02:28] #17 closed

[2015-08-19 13:10] onodera-punpun opened #18 "cargo: Move to crux-ports-git"
Since it's a nightly package I think it better to put it there.

[2015-08-19 15:55] arianon commented on #18
You can always fetch the latest tag from [their GitHub page](https://github.com/rust-lang/cargo/releases/) :)

But in a perfect world, pkgutils would use multiple optional sources for the same package, for instance downloading the HEAD or the latest stable release using the same port/formula, a la [Homebrew](https://github.com/Homebrew/homebrew).

@kori please finish surt :disappointed:

[2015-09-18 23:10] rtlanceroad commented on #16
Wait for 3.2 final release or its rc stage(rc-1) release ?  :)

[2015-09-18 23:25] kori commented on #16
Final release would be ideal.

[2015-10-14 01:42] rmull opened #19 "blender 2.75a md5sum mismatch"
=======> ERROR: Md5sum mismatch found:
MISSING   7d04c789df8c74a5ce72677f1ceec314  blender-2.75a.tar.gz
NEW       ef4e1c9b36a64d7b85d938f69a908401  blender-2.75a.tar.gz

Also see http://download.blender.org/source/blender-2.75a.tar.gz.md5sum for confirmation of the correct md5sum.

[2015-10-14 02:03] rmull opened #20 "blender: Update to 2.76"
Seems to build fine just by changing the version string and updating md5sum/footprint.

[2015-10-14 02:04] kori commented on #19
#20 nullifies the work done here.

[2015-10-14 02:04] #19 closed

[2015-10-14 02:27] kori commented on #20
I can't seem to compile any of blender's dependencies. weird.

[2015-10-14 11:07] onodera-punpun commented on #19
For some reason blender changes their sources without changing the version number every once in a while, will update to 2.76.

[2015-10-14 11:56] #20 closed

[2015-10-15 07:06] kyubiko opened #21 "Weechat: footprint error"
With the current dependencies listed weechat will give a footprint error when installed even if all dependencies are installed. This is because lua is only listed as an optional dependency. I suggest we remove `-rwxr-xr-x root/root usr/lib/weechat/plugins/lua.so` from the footprint file. This will result in a NEW if it is built with lua support as opposed to a MISSING when without which I think is

[2015-10-15 09:05] onodera-punpun commented on #21
Should I do the same with `-rwxr-xr-x	root/root	usr/lib/weechat/plugins/python.so` and `-rwxr-xr-x	root/root	usr/lib/weechat/plugins/perl.so`?

[2015-10-15 16:05] kyubiko commented on #21
I don't know, I was able to build it only having removed the line I quoted and that was on a freshly installed system. I python and perl got fetched in as the dependency of something else? Seeing as I have a freshy system to test on I'll give it a test once I get the time.

[2015-10-15 17:04] onodera-punpun commented on #21
yeah perl gets provided by core so that should be installed anyways, I'll just remove lua for now.

[2015-10-15 17:05] #21 closed

[2015-10-20 00:11] kori opened #22 "Add Elixir."
This is mostly a reminder to myself to port it when I get home.

[2015-10-20 00:11] kori commented on #22
It requires erlang, so that's going to be ported by me as well.

[2015-10-20 00:12] kori commented on #22
Oh, erlang was already ported. I'll bring the port here later then.

[2015-10-20 11:38] kori commented on #22
Closing, it's easier to port elixir as a git port.
Erlang is ported here, though.

[2015-10-21 02:59] #22 closed

[2015-11-03 17:23] #18 closed

[2015-11-03 17:23] kori commented on #18
If no one's done this yet, it just means cargo isn't maintained anymore.

[2015-11-03 17:23] kori commented on #16
Done.

[2015-11-03 17:25] kori commented on #16
Actually, whoops.
This could start getting work now.

[2015-11-07 00:52] lainsce commented on #18
`cargo` is still in high development, now it's version is equal to `rustc`

[2015-11-07 00:53] kori commented on #18
I meant the port.

[2015-11-07 00:54] kori commented on #18
Original comment fixed to reflect that.

[2015-11-23 12:41] rmull opened #23 "openimageio fails to build"
Here's the buildlog: http://sprunge.us/MDje

Boost version is 1.59.0

[2015-11-23 12:59] rmull opened #24 "blender fails to build (crux 3.2)"
here's the buildlog: http://sprunge.us/ZYSe

Might be related to #23 because openimageio is a blender dep, but the errors didn't look related to me. OpenMP is mentioned in the gcc5 docs so I'm wondering if the failure is due to the move to gcc5.

[2015-12-01 02:08] rmull opened #26 "libbsd: Update 0.7.0 -> 0.8.0"
libbsd 0.8.0 was just released.

Source tarball:
  <http://libbsd.freedesktop.org/releases/libbsd-0.8.0.tar.xz>

GPG signature:
  <http://libbsd.freedesktop.org/releases/libbsd-0.8.0.tar.xz.asc>

[2015-12-03 00:54] kori commented on #26
On it, thanks.

[2015-12-03 01:03] kori commented on #26
Done, 83f1022

[2015-12-03 01:03] #26 closed

[2015-12-06 15:00] arcetera2 commented on #16
Done (I think).

[2015-12-06 15:00] #16 closed

[2015-12-13 20:30] jmf commented on #23
Try rebuilding ilmbase and then build openimageio.
It worked for me after doing that.

[2015-12-13 21:33] Wildefyr commented on #23
Builds fine for me.

[2015-12-14 02:32] rmull commented on #23
Ended up rebuilding boost, ilmbase, and finally openexr before it worked for me. I've run into other build failures that were resolved by rebuilding the deps - this is a system that was updated from CRUX 3.1 -> 3.2 and there is apparently a bunch of stuff that isn't getting detected by revdep.

[2015-12-14 02:32] #23 closed

[2015-12-14 03:36] rmull opened #27 "libbsd: Update 0.8.0 -> 0.8.1"
Release notes: This release fixes some general and portability build problems introduced in the last release. It also switches the COPYING file to the Debian machine readable format.

Source tarball:  http://libbsd.freedesktop.org/releases/libbsd-0.8.1.tar.xz
GPG signature: http://libbsd.freedesktop.org/releases/libbsd-0.8.1.tar.xz.asc

[2015-12-14 09:33] onodera-punpun commented on #24
I'm on holiday right now, I'll try fixing the port when I'm back, which will be in January. If anyone else can try fixing/updating the port I will hugely appreciate it.

[2015-12-14 09:34] onodera-punpun opened #28 "Replace bug label with "build failed"."
See title, it's a bi more descriptive.

[2015-12-14 11:33] ix commented on #28
Done.

[2015-12-14 11:33] #28 closed

[2015-12-14 12:45] rmull opened #29 "python3: Update 3.5.0 -> 3.5.1"
https://www.python.org/downloads/

Might resolve #24

[2015-12-14 12:45] rmull commented on #24
https://developer.blender.org/T46464

Looks like this might be fixed with python 3.5.1, which was released Dec 7. See #29.

[2015-12-14 12:53] Wildefyr commented on #29
Done, try the build again.

[2015-12-14 12:53] #29 closed

[2015-12-14 13:06] rmull commented on #24
Build failure is resolved by #29, but it segfaults on startup:
[code]

And the crash file:
[code]

[2015-12-14 13:18] rmull commented on #24
Resolved after rebuilding xorg-server, mesa3d, and nvidia, killing X, doing the gl-select dance, rebuilding glew, and restarting X. Not sure how much of that was actually necessary. I may have had a mesa3d or xorg update after which I hadn't restarted X.

[2015-12-14 13:18] #24 closed

[2015-12-14 13:24] ix commented on #27
Will do when I get home.

[2015-12-15 00:16] ix commented on #27
Done.

[2015-12-15 18:12] rmull commented on #27
I have an md5sum mismatch - looks like you changed the version number but not the md5sum.

=======> ERROR: Md5sum mismatch found:
MISSING   262bdd1aa3bee6066a8c9cb49bb6c584  libbsd-0.8.0.tar.xz
NEW       f3daff0283af6e30f25d68be2deac4ef  libbsd-0.8.1.tar.xz
=======> ERROR: Building '/usr/ports/6c37/libbsd/libbsd#0.8.1-1.pkg.tar.gz' failed.

[2015-12-15 18:33] ix commented on #27
Will fix when I'm home.

[2015-12-15 18:37] Wildefyr commented on #27
Hey wait a minute... that's what you said last time!

[2015-12-16 09:43] rtlanceroad commented on #27
We can close it, see commit a6692200d63f6eb68e17bc8017ef9ed946253aa5 .

[2015-12-16 09:43] #27 closed

[2015-12-18 17:29] ix opened #30 "Move 3.2 branch to master."
Most projects use master rather than a specialized branch. Don't see why we wouldn't.

[2015-12-18 21:29] kori commented on #30
Transitional branches need to exist between versions, and old branches will get purged as the transitions are complete.
I don't see why not name the current branch after the current release.

[2015-12-19 01:22] ix commented on #30
Got it.

[2015-12-19 01:22] #30 closed

[2015-12-19 08:54] onodera-punpun commented on #30
Also, all of the official CRUX repo's use 3.0, 3.1, 3.2, etc. branches, the current version being the main branch.

[2015-12-26 15:18] kori opened #31 "Port clean ups: google-chrome, gconf"
Please run prtverify and remove the junk files.

[2015-12-26 15:52] lainsce commented on #31
I already have run prtverify on each one before pushing.

[2015-12-26 18:46] kori commented on #31
See these:
`
ERROR  crux-ports/gconf ......... directory not allowed: usr/libexec/
ERROR  crux-ports/gconf ......... directory not allowed: usr/share/locale/
`

[2015-12-26 19:14] ix commented on #31
If you do that Chrome crashes.

[2015-12-26 19:52] Wildefyr commented on #31
Great reason not to use chrome then.

[2015-12-26 19:56] ix commented on #31
It's not my port, and I don't use Chrome myself. Should we just pull it from the repositories? Lains has this port on their personal repository as well.

[2015-12-27 02:17] rtlanceroad commented on #31
@lainsce Hi, glad to see google chrome works for me, but for me, it doesn't. I've tried prologics', it doesn't work either. So in this case, you can create a personal repo and self maintain it.

[2015-12-27 03:26] onodera-punpun commented on #31
Why remove it though, we have some more "improper" ports like some install in /opt.

[2015-12-27 04:54] kori commented on #31
No need for removal, there's just a need to check which files can be removed.

[2015-12-27 14:59] lainsce commented on #31
Let's test _everything_

[2015-12-29 00:55] rtlanceroad commented on #31
I am in favor of removing it from repo. The reasons are as following:
1. This chrome doesn't work(at least my case). If a browser can't browse, why we maintain it?
2. Chrome is closed cource. In order to use it, one needs to extract deb/rpm, that's not right....
3. There is alternative chromium in /opt, it WORKS great as it is.
4. maybe other  reasons here.

[2015-12-29 01:28] kori commented on #31
1. It works here, and we can fix whatever doesn't work.
2 and 3: Chrome can use Netflix.

[2015-12-30 07:21] rtlanceroad opened #32 "zathura(0.3.4) can't compile"
The build log is as following:

┌────[lee@sakura]───────[07:15:35]───────[~/test/crux-ports|3.2]───────────────────────────────────────────────────────────────────────────────────────────────────────
└──> sudo prt-get depinst zathura
prt-get: installing /home/lee/test/crux-ports/zathura
=======> Building '/home/lee/test/crux-ports/zathura/zathura#0.3.4-1.pkg.tar.gz'.
bsdtar -p -o -C /home/lee/test

[2015-12-30 07:22] rtlanceroad commented on #32
For better review:  http://paste.ubuntu.com/14278801/

[2015-12-30 12:32] ix commented on #32
Is this something we can actually fix? It could be a problem with upstream.

[2015-12-30 12:55] rtlanceroad commented on #32
We can help to fix it : )

[2015-12-30 19:35] Wildefyr commented on #31
So can chromium. You just have to enable/install the drm html5 module.

[2016-01-01 04:33] rtlanceroad commented on #32
According to the README in zathura source directory, synctex_editor and synctex.h need texlive to be installed. Although texlive is in /opt, but texlive source tarball is 1.8g... that's huge, beyond my imagination. If someone interested, please help to test.

[2016-01-01 04:51] lainsce commented on #31
I've decided that you guys can remove those ports since I've done a git-port-driver-thingy (Seriously, what's the name for the file on /etc/ports?) for my repo.

[2016-01-09 23:59] rtlanceroad commented on #32
Actually it's not fixed, it's skipped.... see commit https://github.com/6c37/crux-ports/commit/aad4f622e1cc0df2ad6620750f9904734ae3cf73  According to build instruction in source code, texlive is optial dep, but BUILD highly relies on it(kind of hard coded).... Since nobody likes to build texlive, we skip that. The patch is borrowed from voidlinux(https://github.com/voidlinux/void-packages/blob/e47

[2016-01-09 23:59] #32 closed

[2016-01-31 18:25] ix opened #33 "httpup and the portdb."
6c37 is yet another CRUX repo with quality and exclusive ports. It however, due to it being exclusively git, does not qualify for the portdb.

We could make 6c37 an httpup repository while still using GitHub (example: https://github.com/baguette/crux-ports), which allows us to use httpup for the portdb and for legacy usage but still recommending the git driver.

This would also add running `httpup

[2016-02-01 05:04] Wildefyr commented on #33
I vote yee.

[2016-02-01 07:19] rtlanceroad commented on #33
Yes, definitely. It's never a bad idea to give another solution. : )

[2016-02-03 18:43] kori commented on #31
Well, what's the status on this issue?
Should we close it then?

[2016-02-03 21:26] ix commented on #31
Since this has been opened for a while and it likely can't be fixed I'm closing this.

[2016-02-03 21:26] #31 closed

[2016-02-04 05:20] neeasade commented on #33
+1

[2016-02-04 08:51] Wildefyr opened #34 "Add README.md"
Want to clarify what the port repositories are for passersby. Also we should probably ship the repository's .git file that goes in /etc/ports. Any nays?

[2016-02-04 11:26] ix commented on #34
I'm for the README, but as for the .git file in the actual repo, I say no. It's in cross and it should stay in cross.

[2016-02-04 13:03] onodera-punpun commented on #34
Well we already have the wiki. The thing is, if we add a README it will also be pulled in by ports -u

[2016-02-05 08:27] rtlanceroad commented on #34
Vote for NO this time.

[2016-02-05 13:31] Wildefyr commented on #34
I don't think having it pulled in by ports -u is a massive deal at all. As for the wiki, I think it's definitely not as obvious as a README.md would be.

[2016-02-06 01:11] rtlanceroad commented on #34
Seriously, README should not appear in a port repo, that's kind of potential agreement we all obey. For passersby, I am assuming the following situations:  1. They are linux newbies, randomly see 6c37, arise interests, then dig into our thing. and find a word, called "CRUX". just like everybody, after googling for a while, they start a hard journey with it. 2. They are experienced linux users, fin

[2016-02-07 16:20] Wildefyr commented on #34
Sure. An eager party would do that. What I am saying is just to add a title and brief couple of sentences. Nothing more really.

[2016-02-07 17:22] ix commented on #34
Perhaps we could add the ability to exclude files in the git driver? This would also be useful if we implement httpup.

[2016-02-07 17:25] kori commented on #34
@ix That's a big no for me.

@Wildefyr What should the readme contain?

[2016-02-10 22:11] onodera-punpun opened #35 "Move ttf-notosanscjk to git like the other noto font ports."
Also remove the date thingy in the version.

[2016-02-17 01:00] Wildefyr commented on #34
Gonna close this I think, I am not quite sure what it would contain really other than a brief description and it seems people are split over this.

[2016-02-17 01:00] #34 closed

[2016-02-25 02:40] kori commented on #35
Done.

[2016-02-25 02:40] #35 closed

[2016-03-06 14:57] ix commented on #33
There's no objections here; should we go ahead and do it?

[2016-03-06 15:26] kori commented on #33
Aye. But someone needs to make the httpup-repgen thing as a git hook or something.

[2016-03-06 15:30] ix commented on #33
Pretty sure that's something that needs to be done on the client, not server.

[2016-03-06 15:31] kori commented on #33
Sure. I'm saying that someone needs to figure that out and then put up a guide on the wiki or something.

[2016-03-06 20:27] Wildefyr commented on #33
Where is the plan to host it? I don't mind doing it though.

[2016-03-06 20:29] ix commented on #33
GitHub. It's doable.

[2016-03-06 20:30] ix commented on #33
I'm going to do this now. Give me a minute.

[2016-03-06 20:40] ix commented on #33
I've edited the wiki page for "Commit standards" so people run httpup-repgen before they commit, and I've set up the repo so httpup works.

[2016-03-06 20:40] #33 closed

[2016-03-07 17:58] jmf opened #39 "Python 3.5.1 - broken footprint"
Python 3.5.1 reports missing files at footprint check.
Possible introduction of the issue in ef23f1f
[code]

[2016-03-16 20:42] onodera-punpun opened #40 "mpd, mpdscribble: Broken(?) rc file."
[code]

This happens every time I run stop or restart, mpd gets launched at boot. (`SERVICES=(lo net crond alsa mpd mpdscribble)`).

I just checked `/var/run` and there doesn't seem to be any mpd* pid file

[2016-03-16 20:54] onodera-punpun commented on #39
I just build this myself and didn't get the footprint error, are you missing some dependency by chance?

[2016-03-20 20:26] rmull opened #41 "Package signing"
Would the committers to this repo be interested in using Git commit signing to add package signing?

I and presumably others are syncing this repo over git already, so we could use git to optionally verify that a Pkgfile and download checksums haven't been tampered with between the packager and us. If no signature is added, then things continue to work as they already do. If a signature is added,

[2016-03-21 15:59] onodera-punpun commented on #40
Fixed, not everyone set the location of a pid in their mpd/mpdscribble config files, the new rc files work for everyone.

[2016-03-21 15:59] #40 closed

[2016-03-28 04:19] rmull commented on #41
FYI a few days after I made this post, the CRUX devs began work on incorporating package signing into pkgutils proper. They are using signify (of OpenBSD origin) rather than git signing. I am closing this issue because upstream will be handling it in their own way and we may see it in CRUX 3.3.

https://crux.nu/gitweb/?p=tools/pkgutils.git;a=commit;h=8dad69f52dfd145b1184d4cc1dc55fbffacb221c

[2016-03-28 04:19] #41 closed

[2016-04-01 17:04] tudurom opened #45 "luajit - broken footprint"
missing usr/lib/luajit-5.1.so and usr/lib/luajit-5.1.so.2

[2016-04-01 17:46] onodera-punpun commented on #45
Hmm, I'm not getting that error? Are you using some weird build options or something?

[2016-04-01 17:47] wildefyr commented on #45
No footprint mismatch here either

[2016-04-01 18:23] tudurom commented on #45
I just run `prt-get depinst luajit`, nothing more.

[2016-04-01 18:24] wildefyr commented on #45
You can use `prt-get deptins luajit -uf` to update the footprint locally.

[2016-04-01 18:25] tudurom commented on #45
I know, but I am a good guy and I reported that

[2016-04-01 18:29] onodera-punpun commented on #45
Are you only missing usr/lib/luajit-5.1.so and usr/lib/luajit-5.1.so.2? Are there any NEW files?

[2016-04-01 18:37] tudurom commented on #45
no new files. just missing those two

[2016-04-01 18:44] onodera-punpun commented on #45
After installing the port with -if or -uf can you do a `~ ls /usr/lib | grep luajit-5.1`?

[2016-04-01 19:24] tudurom commented on #45
[code]

[2016-04-05 12:08] wildefyr opened #47 "Steam: constant runtime issues."
https://p.iotek.org/mca

As an example, see above. Removing the user's .local/share/Steam seems to help for awhile, but then invariably breaks again. Sometimes it will fail to load entirely.

[2016-04-05 13:41] onodera-punpun opened #48 "Steam: Remove package?"
There seems to be an up-to-date steam package in contrib now.

[2016-04-05 13:43] wildefyr commented on #48
Agreed. Let's follow upstream, we want to provide packages that aren't already included or are different in some unique way. This one doesn't qualify.

[2016-04-05 13:46] #48 closed

[2016-04-05 13:48] onodera-punpun commented on #47
Should this issue be closed now (see #48)? Anyways I remember my steam crashing only AFTER the first launch because I was missing some dependency (this was long ago, so I forgot which dep).

[2016-04-05 13:58] wildefyr commented on #47
Agreed. We should report further problems to the package maintainer for the port in the contrib repo.

[2016-04-05 13:58] #47 closed

[2016-04-13 20:53] wildefyr opened #49 "Remove libressl patches"
Really, the libressl patch should be maintained in a user's port repo if they want that. No need to not follow upstream.

[2016-04-14 12:37] ix commented on #49
We provide LibreSSL, so it's pretty important.

[2016-04-14 13:06] rmull commented on #49
The original reason I used this repo was to use libressl. I had at one point contributed some Ruby patches to enable building against libressl (now no longer necessary). IMO providing build fixes for software that does not build against libressl is in the original spirit of the repo and should be maintained until upstream resolves the issues.

-1 from me.

[2016-04-14 16:40] onodera-punpun commented on #49
I feel like this could be a slippery slope, what if we add musl or some other replacement, do all ports need patches for that software as well?

I'm working on called prtpatch which could be used for cases like this, but it needs some more refinement.

+-0 from me :).

[2016-04-14 17:52] wildefyr opened #50 "There's a couple of duplicated ports between 6c37 and 6c37-git"
We should decide if we want the git version or stable version of the following packages due to maintenance costs:
- fish
- lemonbar

Personally I am in favour of the git version for these.

[2016-04-14 17:54] wildefyr commented on #49
The reason I bring this up is if you don't want to use libressl, the patches feel dirty and unneeded. I'm not against providing libressl but if you need to patch the software in this manner for it to work, I don't think it's really worth maintaining it here.

[2016-04-14 18:13] ix commented on #49
Howso? They work on both OpenSSL and LibreSSL.

[2016-04-14 18:33] onodera-punpun commented on #50
I already deleted the fish port once, but someone was using it so I readded it. The whole point of splitting 6c37 into 6c37 and 6c37-git was to avoid collisions and make it possible to maintain both a release and git version.

[2016-04-15 09:13] rtlanceroad commented on #50
I am the guy using fish, :) You guys can delete one and leave one there, I don't care about which one you delete, but keep one there :)

[2016-04-15 12:00] #45 closed

[2016-05-10 01:02] rmull opened #53 "blender missing .footprint"
There is no .footprint in the blender port dir.

[2016-05-10 01:03] #53 closed

[2016-05-15 18:04] onodera-punpun opened #54 "Bump libressl from 2.3.3 to 2.3.4"

[2016-05-15 23:40] onodera-punpun opened #55 "Remove Packager field"
core and opt have already done this, and soon (hopefully) other repos will follow. There is really no need to have this field pretty much.

[2016-05-16 13:32] rmull commented on #54
Updated. Also removed libressl-dummy-rand-egd.patch - libressl and its dependents seem to build fine without it, and revdep doesn't find anything... I wasn't the one to add the patch originally so let me know if it should be restored.

[2016-05-16 13:32] #54 closed

[2016-05-16 13:41] rmull commented on #50
I choose not to use the git ports because it's a little too bleeding edge for me. While none of the ports I use from crux-ports have been deleted because of a duplicate in crux-ports-git, I would prefer if they were maintained separately, and it should be implied that users of a non-git port can feel free to report any version bump needs should they arise.

[2016-05-16 13:49] rmull commented on #39
@jmf, can we get an update or any more information on this? I do not get this footprint error either. Perhaps try removing and reinstalling the port to see if there is any difference?

[2016-05-16 14:10] rmull commented on #49
Which ports have libressl patches at the moment? I see socat and nodejs, any others?

[2016-05-16 14:13] rmull opened #56 "nodejs 4.2.6 -> 4.4.4, needs updates to fix-libressl.patch"
I attempted a simple version bump, but the patch doesn't apply cleanly. @onodera-punpun since you're the one who added this port, maybe see about massaging the patch to apply against 4.4.4. I don't use nodejs, so no pressure.

[2016-05-16 14:29] onodera-punpun commented on #56
I got the patch from void, from what I remember they updated to a more recent nodejs that uses some statically linked openssh. I'll check if they have created any new libressl patches as of yet, or maybe alpine linux has.

[2016-06-10 12:11] rmull commented on #56
Closing this because it looks like nodejs was updated, thank you.

[2016-06-10 12:11] #56 closed

[2016-06-10 12:16] rmull opened #57 "libbsd: Drop this port, it's now in contrib"
libbsd was recently introduced to contrib, so we should drop this port. I didn't want to do it without presenting a notification.

[2016-06-10 12:26] ix opened #58 "Run httpup-repgen."
The REPO file is 26 days old.

[2016-06-10 22:06] onodera-punpun commented on #57
Aaaand it it has beeen removed from contrib

[2016-06-11 13:45] rmull commented on #57
Are you sure? It seems to still be there: https://crux.nu/gitweb/?p=ports/contrib.git;a=shortlog;h=refs/heads/3.2

[2016-06-11 21:39] onodera-punpun commented on #57
Oh you are right, I was searching for libsd lol.

[2016-06-11 21:39] #57 closed

[2016-06-14 16:04] muphil commented on #58
I second this, I noticed the issue when I was trying to install fish, and found that a patch file(fix-help.patch) was missing.

[2016-06-14 16:06] onodera-punpun commented on #58
Done :)

[2016-06-14 16:06] #58 closed

[2016-06-15 19:15] onodera-punpun commented on #55
done

[2016-06-15 19:15] #55 closed

[2016-06-26 16:04] rtlanceroad commented on #39
@jmf fresh install on Virtualbox doesn't give me footprint error, for the time being, I close it.

[2016-06-26 16:04] #39 closed

[2016-06-27 12:16] rtlanceroad opened #59 "chicken 4.11.0 needs updating"
@onodera-punpun Since you are on musl, please ^

[2016-06-27 13:35] onodera-punpun commented on #59
Actually kori used musl and chicken. Since he left what do you think about creating a crux-ports-oprhaned repo?

[2016-06-27 23:28] kori commented on #59
I didn't leave!!!
But yeah, creating such a repo is fine. I'm going to do it.

[2016-06-27 23:29] kori commented on #59
Done.

[2016-06-27 23:44] #59 closed

[2016-06-28 10:10] rtlanceroad opened #60 "Rustc 1.9.0 has been released for a while."

[2016-06-29 11:25] rtlanceroad opened #61 "lua-mpack 1.0.2 version doesn't exist and I am confused."
If anyone know what 1.0.2 means, let me know. thanks.

[2016-06-29 12:29] onodera-punpun commented on #61
https://www.archlinux.org/packages/community/x86_64/lua51-mpack/

https://github.com/tarruda/libmpack

[2016-06-29 12:34] onodera-punpun opened #62 "lua 51, lua 52, lua53 and luajit"
In responese to https://github.com/6c37/crux-ports/commit/acfebf9958a83aac65e8e96726659073946afa77 and https://github.com/6c37/crux-ports/commit/22e9617d7c71a3b7d2c476625b24100866de28cc

now some packages depends on two or even three different lua versions, wound't it be better for the user to make that choice? This means adding a README, and putting all the different lua implementations in option

[2016-06-29 12:39] rtlanceroad commented on #62
Yeah. I agree. i see arch forks built all the lua versions for lua-related pkg if pkg is compatible. But this idea is great.

[2016-06-29 12:58] rtlanceroad commented on #61
lua-mpack has 5.1 , 5.2, and 5.3 compatibility, I think commit 921b200033138735f3be3029ef63faca9550912d has implemented this.

For libmpack which i think 1.0.2 means this, I think we need a seperate pkg.

[2016-06-29 14:59] rtlanceroad commented on #60
Done. 7b36a58bfe495ed8289ec330121c229120029d05

[2016-06-29 14:59] #60 closed

[2016-06-30 05:55] rtlanceroad opened #63 "libconfig 1.6 failed to build"

[2016-06-30 07:30] onodera-punpun commented on #63
yeah, there is a bug report on thir github. They have released 1.6 forever now, but it's STILL not fixed.

IMO we should drop libconfig, the only package that depends on it is compton for config files (without libconfig you just need to configure compton via flags).

[2016-06-30 10:14] rtlanceroad commented on #63
The current fix is remove lib/scanner.c. see commit https://github.com/6c37/crux-ports/commit/4a927d901cb8f36a4fca358f99ad3ab52362b8aa  hopefully 1.6.1 fix this. I'll close it.

[2016-06-30 10:14] #63 closed

[2016-06-30 13:08] rtlanceroad opened #64 "eudev-gudev has 3.1.5 and 3.2 avaliable"
Here is the releases:

http://dev.gentoo.org/~blueness/eudev/

3.2 and 3.15 have so many conflicted files with crux system library and system binary, if I get time, I maybe dig into it.

[2016-06-30 15:08] rtlanceroad opened #65 "easytag 2.4.2 is newer version, but failed to build."

[2016-06-30 16:26] onodera-punpun commented on #65
gtk3 is no longer supported since 2.something, there is an (almost,  I think) up to date easytag-gtk3 in oprhaned.

[2016-06-30 17:20] rtlanceroad commented on #65
the commit 350ce99fc0bb7f67d2e03ebc94a1efe41911ea18 fixed this. The previous build failure is because someone writes libid3tag as lib3tag, which causes texinfo: undefined reference _xxx_. Sorry about this,

[2016-06-30 17:21] rtlanceroad commented on #65
I'll look at our orphan repo if this repo is kinda done.

[2016-07-01 02:49] rtlanceroad commented on #61
I dont know, maybe commit 25aa2abe5d2cc2c20db62710be0b10b555c57596 is kinda fix?

[2016-07-01 23:37] onodera-punpun commented on #61
I think so, why do we need both though? What package depends on libmpack and what on lua-mpack?

[2016-07-01 23:38] onodera-punpun commented on #65
easytag 2.4.2 still doesn't build without gtk3, please revert to the 2.2.6 branch :)

[2016-07-02 00:26] kori commented on #49
The original reason LibreSSL patches were provided here is that software in core/contrib/opt didn't compile against LibreSSL, so we provided an overlay with patched software that would compile against LibreSSL (And OpenSSL)

[2016-07-02 01:18] rtlanceroad commented on #61
IMOP, I just bump them as an maintainer. : -)
You are right. they are both implementions for msgpack, the only difference is one is in Lua format. the other is in library format. We _really_ dont need both, and no package depends on them since they are just an serialization library for msgpack. Feel free to pick one or delete both.

[2016-07-02 05:10] rtlanceroad commented on #65
you are right.

http://img.vim-cn.com/cf/8cc134aee2d308c795b08ab125c4474d677573.png

[2016-07-02 05:26] rtlanceroad commented on #65
fixed by commit edf7090e329f28e646c2d06137c7918f64fdf28f

[2016-07-02 05:26] #65 closed

[2016-07-09 03:32] maraku commented on #61
hey there.
for me, neovim fails to build with "no lua compiler" (or something like that) when libmpack isn't installed and lua-mpack is installed. When I installed libmpack, nvim builds fine. furthermore, I removed lua-mpack but kept libmpack, and neovim still could build.
TL;DR libmpack, not lua-mpack (at least for neovim)
do tell if I'm doing something wrong here...

[2016-07-09 09:33] rtlanceroad commented on #61
@maraku Thanks for your feedback, you are with @onodera-punpun :-)
I think no package depends on lua-mpack and lua-mpack depends on nothing. but at least neovim depends on libmpack. so I'd like to invite onodera to do following:
1. purge lua-mpack from our repo
or
2. throw it to -orphan repo

I am just a monkey bumping our pkgs :)

[2016-07-11 13:14] speden opened #66 "Gvfs-dockbook.xsl Failed to Load Entity"
I'm trying to install gvfs and keep getting this error msg:
`make[2]: Entering directory '/usr/ports/6c37/gvfs/work/src/gvfs-1.28.2/man'
  GEN      gvfs-cat.1
I/O error : Attempt to load network entity http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl
warning: failed to load external entity "http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl"
cannot parse

[2016-07-11 15:00] rtlanceroad commented on #66
@speden Hi, it's issue with docbook-xml and docbook-xsl.
you can do following to fix it:
# prt-get update -fr docbook-xml docbook-xsl
# prt-get depinst gvfs

[2016-07-11 15:06] rtlanceroad commented on #66
You can also uncomment line in /etc/prt-get.conf to run pre- and post- scripts:
runscripts yes # (no | yes)

it should be safe even with 3rd party repo.

[2016-07-11 15:27] speden commented on #66
rtlanceroad, thank you.  "prt-get update -fr docbook-xml docbook-xsl --install-scripts" did the trick, it finished compiling and installed.  I had to update the .footprint also.

I did switch the "runscripts yes (no | yes) option before and it still didn't work at that point.

Thanks again.

[2016-07-11 15:28] rtlanceroad commented on #66
great :)

[2016-07-11 15:28] #66 closed

[2016-07-12 21:18] onodera-punpun commented on #61
Done :)

[2016-07-12 21:18] #61 closed

[2016-07-12 21:19] onodera-punpun commented on #62
On what lua implementation should we make it depend by default? I'm in favor of luajit.

[2016-07-13 00:17] rtlanceroad commented on #62
According to [performance](http://luajit.org/performance.html) , we should use luajit to be faster :-)

[2016-07-15 04:01] maraku commented on #61
could you also replace lua-mpack with libmpack in the dependencies for neovim?
thanks, @onodera-punpun and @rtlanceroad

[2016-07-15 10:18] rtlanceroad commented on #61
@maraku Thanks for noticing, the commit 4efa224456632d5efaaf1f7f2f43c21fb1ee3f81 should fix it.

[2016-07-16 11:24] rtlanceroad commented on #64
eudev-gudev has been moved to -orphaned repo. As I mentioned before, so many conflicted system binary and library are uncompatible with crux system. If someone wants to maintained, move it back and update :)

[2016-07-16 11:24] #64 closed

[2016-08-06 08:57] rtlanceroad opened #67 "openimageio-1.6.16 failed to build"
I _just_ leave it here, if someone can fix ir, it's nice. If new release comes out, someone or I will close it.

[2016-08-06 09:18] rtlanceroad commented on #67
I think commit e8a9357800ef6b702b338e7fac2c93e0c6274309 is a temporary fix.
I __would__ guess the reason why it got built is `-DUSE_FFMPEG=OFF` this flag ,  but this sounds like a bad idea.  So I add ffmpeg to optional dependency and current ffmpeg API __really__ breaks this pkg. At the time of writing, I'll close it.

[2016-08-06 09:19] #67 closed

[2016-08-08 01:56] rtlanceroad opened #68 "mpd 0.19.18 failed to compile because current ffmpeg 3.1.1 API breaks it."

[2016-08-08 02:58] rtlanceroad commented on #68
Also in `contrib`, there is also a pkg __mpd__ . @onodera-punpun any idea about it?

[2016-08-08 18:35] onodera-punpun commented on #68
the mpd in contrilb *still* uses /usr/man as a port-dir which kinda annoys me, and is the reason I kept the 6c37 mpd port.

As for building 0.19.18, it just works for me (with ffmpeg 3.1.1)...

[2016-08-08 20:39] rtlanceroad commented on #68
okay, I'll close it.

[2016-08-08 20:39] #68 closed

[2016-08-08 21:00] onodera-punpun commented on #68
does it build for you now, or..?

[2016-08-08 21:58] rtlanceroad commented on #68
actually not. but good to see it builds for you.

[2016-08-08 23:04] onodera-punpun commented on #68
any errors?

[2016-08-09 05:27] rtlanceroad commented on #68
This is screenshot from vm test, a lot of libavcodec.so undefined reference:
![screenshot-2016-08-09 13 25 23](https://cloud.githubusercontent.com/assets/7656607/17505625/fe2a1d76-5e34-11e6-9502-c64f91a64c76.png)

[2016-08-09 05:43] rtlanceroad commented on #68
sorry, problem is in my part, rebuilding ffmpeg then mpd works for me.

[2016-08-31 01:01] rtlanceroad commented on #50
While after a _long_ time, the answer is quite clear to me: both packages should be kept on stable repo. reasons are followings:

1. Both packages provides cycle release tarball with bug fixes, which means devs hope users to use
    stable releases for a production system.
2. Git means we are in a middle of development, and it may contains critical bugs. It's good for devs
     to participate in s

[2016-09-09 08:29] rtlanceroad opened #69 "freetype has 2.7 released, hopefully there will be new patches for freetype-ui"

[2016-09-09 09:17] onodera-punpun commented on #69
Heh, I'm still using some forked patches for 2.6.3, see https://github.com/NixOS/nixpkgs/pull/17846

[2016-09-09 11:09] rtlanceroad commented on #69
Maybe [fontconfig-ultimate](https://github.com/bohoomil/fontconfig-ultimate) and [infinality_bundle](https://github.com/archfan/infinality_bundle) will deliver new patches if freetype 2.7 is avaliable in repo.

[2016-09-09 19:55] #69 closed

[2016-09-10 10:54] rtlanceroad commented on #69
Thanks.

[2016-09-16 20:45] onodera-punpun opened #70 "Switch back to `Nice to have` instead of `Optional`"
It's the standard, and people might use Nice to have in scripts. Thoughts?

[2016-09-16 20:51] wildefyr commented on #70
Really depends on the software, IMO, as some stuff might be needed at compile time. I think optional describes it just fine though.

[2016-09-16 21:16] onodera-punpun commented on #70
I mean, rename `# Optional:.*` to `# Nice to have:.*`, this is the standard CRUX uses.

[2016-09-16 22:42] wildefyr commented on #70
I wasn't aware of the switch, in that case, go for it!

[2016-09-17 03:51] rtlanceroad commented on #70
+1

[2016-09-17 18:05] onodera-punpun commented on #70
Ok it seems I like I was wrong and it isn't actually a CRUX standard I guess:

https://crux.nu/Main/Handbook3-2#ntoc28

[code]

Anyways imo it *should* be, for easy of use with scripts and programs that parse Pkgfiles.

Not sure which one to go with now.

[2016-09-18 03:21] rtlanceroad commented on #70
I think it doesn't *really* matter, it's just a string whick makes prt-get tracks dependency easier. as we know, those dependencies are only installed if you look at Pkgfile *carefully*, so it's just kinda `label`.  :)

[2016-09-19 14:16] onodera-punpun opened #71 "racket: Remove junk files."
My cpu is broken and segfaults for some reason when building big packages ;p

[code]

maybe `usr/share/doc/` as well.

[2016-09-19 15:48] rtlanceroad commented on #71
For broken cpu, check your `MAKEFLAGS` in `/etc/pkgmk.conf`, I always use the default one `-j2` to build anything. Usually the number is the cores of your PC.
For junk files, not all the files uder `/usr/share/racket` or `/usr/share/doc` are irrelevant to pkg itself, but for {COPYING,README,something txt}, yes, they are safe to remove.

[2016-09-19 15:50] onodera-punpun commented on #71
Yeah I tried everything already, it also happens on BSD and other source distro's, probably faulty ram or my cpu, I dunno.

[2016-09-21 12:20] muphil opened #72 "xorg-libxkbcommon: footprint mismatch when doxygen is not present"
fix:
	./configure --prefix=/usr --disable-docs
	rm .footprint
	pkgmk

[2016-09-21 13:02] muphil opened #73 "python3-setuptools: change source to remove `date` in file names"
See the commit history of this port, some files have `date` in their names, and it breaks constantly (footprint mismatch). I've verified that changing the source to https://pypi.python.org/pypi/setuptools (here at the bottom)  fixes this issue, for the newest version currently, it should be:  https://pypi.python.org/packages/72/e1/741cd8c4825e58119481d8be4254c9cd133db50876b159cdf8cbd253fbb3/setupt

[2016-09-21 13:14] rtlanceroad commented on #72
Thanks for reporting. If you unpack xorg-libxkbcommon somewhere and run `./configure --help | grep doxygen`, you will find:

[code]
That's the reason why footprint mismatch. You are right, either pass `--disable-docs` to prevent doc from being regenerated or pass `--without-doxygen`. Both should work.

[2016-09-21 13:26] rtlanceroad commented on #72
[This](140703915e303326403977ea982d870ba13ca459) should fix it.

[2016-09-21 13:47] muphil commented on #72
Thank you.  I think it's better to run `httpup-repgen .` before every commits and pushes to make sure people using httpup be able to receive updated version of ports.
I think add that command to .git/hooks/pre-commit should do the trick (not veified).

[2016-09-21 13:49] rtlanceroad commented on #72
I use git drivers rather than httpup, but yes, @onodera-punpun please? :)

[2016-09-21 14:13] rtlanceroad commented on #73
Thanks again. [This](beb0a98f0d79c3d215dcc9eb1bbdb047e7c65266) should fix it.

[2016-09-21 18:13] #73 closed

[2016-09-21 18:13] #72 closed

[2016-10-05 00:48] rtlanceroad opened #74 "gtk2 has been updated, but gtk-ahoka's patches hunk failed."

[2016-10-05 00:50] rtlanceroad commented on #74
Just for reminding.

[2016-10-05 11:52] onodera-punpun commented on #74
I already notified ahoka :)

https://gist.github.com/ahodesuka/01213036b58e510dc074#gistcomment-1882653

[2016-10-05 11:58] rtlanceroad commented on #74
Great.

[2016-10-08 20:29] jmf opened #75 "Blender installs into wrong directories"
According to the footprint, blender installs into some very odd places.
The executable is installed under /usr/blender instead of /usr/bin/blender, data under /usr/2.78 instead somewhere under /usr/share.

[2016-10-09 10:27] rtlanceroad commented on #75
Whoops, totally my fault. I'll check it further.

[2016-10-09 11:08] onodera-punpun commented on #75
@rtlanceroad from the quick look I had at it the portability flag seems to be the most(only?) likely flag that caused thiis

[2016-10-09 11:36] rtlanceroad commented on #75
@onodera-punpun  I guess no. From what I see from CMakeLists.txt, it's because they force install to `EXECUTABLE_OUTPUT_DIR` if `CMAKE_BINARY_DIR` is not set. I am on the half way. if I am right, I'll push it.

[2016-10-09 11:42] rtlanceroad commented on #75
We dont want a portable blender. :)

[2016-10-09 12:04] rtlanceroad commented on #75
Well my guess is not right.

[2016-10-09 14:26] rtlanceroad commented on #75
Thanks for pointing out from @onodera-punpun about portable, commit https://github.com/6c37/crux-ports/commit/ad29aa83823878e629c0c5379453001b35e6bd55 should fix this.

[2016-10-09 14:26] #75 closed

[2016-10-20 01:10] rtlanceroad opened #76 "update footprint for syncthing-inotify"
syncthing-inotify uses `go get -v` to clone https://github.com/syncthing/syncthing repo(around 80MB, that is _HUGE_ ), hopefully someone can do this.

[2016-10-20 14:55] #76 closed

[2016-11-01 05:40] maraku opened #77 "remove compton?"
I was thinking that maybe it would be best if compton was removed? The last 'stable' (actually a beta) release was in 2013, and it doesn't compile because of some asciidoc problems. The git version works, but disables `make docs` (because of asciidoc problems).

[2016-11-01 05:53] kori commented on #77
If the git version is kept, that's fine by me.

[2016-11-01 06:54] rtlanceroad commented on #77
@maraku  It's builds fine here. The reason I added it to here is because I didn't enable -git repo(because git means you are on upstream development stage and not for production) but I did need a compositor. Since 2013, the upstream has pushed a lot of commits and they should have released a stable tarball if this makes sense to you.

[2016-11-02 03:56] maraku commented on #77
yeah, thanks for the explanation @rtlanceroad, i guess stability vs. new features then? also, i think the problem with asciidoc is on my side because dbus also fails to compile due to xml validation errors.

[2016-11-02 04:16] rtlanceroad commented on #77
@maraku you need to either add `--install-scripts` when you run `prt-get depinst docbook-xml docbook-xsl` or enable ` runscripts yes` in /etc/prt-get.conf. Hopefully this will help.

[2016-11-02 04:22] kori commented on #49
Closing as dropin exists now.

[2016-11-02 04:22] #49 closed

[2016-11-02 04:22] kori commented on #50
Closing.

[2016-11-02 04:22] #50 closed

[2016-11-02 04:56] rtlanceroad commented on #77
I'll close it :)

[2016-11-02 04:56] #77 closed

[2016-11-04 18:08] rmull opened #78 "kicad tweaks"
Seeing as there is at least one other kicad user here (@rtlanceroad) here, I'd like to verify that a change to the Pkgfile I'm considering is acceptable:

`-DBUILD_GITHUB_PLUGIN=OFF`

The github plugin fails to build when using libressl instead of openssl. The advantage of the github plugin (as far as I understand it) is so that kicad users can keep their footprint libraries up-to-date automatical

[2016-11-05 02:39] rtlanceroad commented on #78
Agreed. Feel free to do what you think @rmull ! :)
I've checked related infomation you mentioned before and [github hosted mirror](https://github.com/KiCad/kicad-source-mirror), they have following lines from CMakeList.txt in main directory:
[code]
and following lines from pcbnew/CMakeLists.txt in sundirectory:
[code]
the two c++ files will use curl to get the 3DShape libs from a lot of headers as

[2016-11-05 21:36] kori commented on #74
Closing, port moved to dropin.

[2016-11-05 21:36] #74 closed

[2016-11-07 03:46] rmull commented on #78
@rtlanceroad - I made some changes to the Pkgfile, see commit 1486b314dab062a62ffdd6ddc1fcce5fd75ce2dc and make sure all is well. If it looks okay, please feel free to close this issue.

[2016-11-07 05:37] rtlanceroad commented on #78
Looks good to me, closing.

[2016-11-07 05:37] #78 closed

[2016-11-08 02:16] rtlanceroad opened #79 "new patches for usage"
If you look at here,  `https://www.kernel.org/pub/linux/daemons/autofs/v5/patches-5.1.3/` , there are already some patches for 5.1.2, maybe we can use now? I dont know whether the author will give a new release nearby, but for now, we may do something with it.
Any idea?
esp @onodera-punpun ?

[2016-11-08 13:17] kori commented on #71
Any update on this?

[2016-11-08 13:35] onodera-punpun commented on #71
So uhh yeah, I still have these segfaults, so someone still needs to fix the footprint for me probably :)

[2016-11-08 16:16] rtlanceroad commented on #71
Can someone edit racket pkgfile and rm those junk files? I'll update footprint tomorrow, which is about 8 hours later.

[2016-11-09 03:36] rtlanceroad commented on #71
I've pushed a commit 57217aeeca8aafa02a38feef3bbe3753311a1340 to remove `/usr/share/doc` and `/usr/share/racket`. Could you guys check it?

[2016-11-09 05:08] kori commented on #71
That commit won't do. It removes all the libraries.

Just move the port to orphaned for now, and I'll take care of it when I come back to CRUX.

[2016-11-09 05:08] #71 closed

[2016-11-09 06:15] rtlanceroad commented on #70
As i mentioned before, this is just a _LABEL_ of sorting optional dependecies for supporting optional software features, it _really_ doesn't matter. So I close this for now.

[2016-11-09 06:15] #70 closed

[2016-11-24 06:09] rtlanceroad commented on #79
Let's wait for new release.

[2016-11-24 06:09] #79 closed

[2016-11-24 14:28] kori commented on #62
Luajit is a drop-in replacement for lua 5.2, by the way.

[2016-12-13 06:04] rtlanceroad opened #80 "For reminding: gvfs 1.31.3 failed to build because our repo lacks glib-2.51"

[2016-12-17 05:17] rtlanceroad commented on #80
We downgrade gvfs to 1.30.3 to keep compatible with glib-2.50 in main repo, also this will be helpful to receive bug fixes contiously.

[2016-12-17 05:17] #80 closed

[2016-12-21 04:57] rtlanceroad opened #81 "firefox-gtk2 needs updating"
As titled, the 50.1.0 includes a lot of security fixes, but access to mozilla http/ftp  is extremely slow, I can't even download the source.
@onodera-punpun would you update it?

[2016-12-25 22:09] onodera-punpun commented on #81
So I've been trying to compile this all week, but my gcc *keeps* segfaulting, sorry

[2016-12-25 22:11] onodera-punpun opened #82 "Get ready for CRUX 3.3"
## General changes:

- [x] Add 3.3 branch
- [x] Add COPYING _(optional, I like consistency with the official repos though)_
- [x] Add COPYRIGHT _(optional, I like consistency with the official repos though)_
- [x] Use .signature
- [x] Make 3.3 the default branch

## Port specific changes:

- [x] Update `p5-text-aspell` footprint (needed because of updated `core/perl` version)

The fourth item in t

[2016-12-26 03:03] rtlanceroad commented on #81
no problem, I'll take this over.

[2016-12-26 09:29] rtlanceroad commented on #82
- I think we need to wait for 3.3 branch a while, until at least 3.3 -r1 iso released, although I see 3.3 mirror already roll out.
- COPYING and COPYRIGHT are yes, quite optional.
- 3.3 signature enhances the repo security, that's good, we need to imigrate.

[2016-12-26 14:36] onodera-punpun commented on #82
The rc-1 iso is hosted here: https://crux.ninja/crux/

[2016-12-27 04:43] rtlanceroad commented on #81
I'v updated it by commit 3598090b57f48e869f98f122eb4368653294cc39 . It works fine here.

[2016-12-27 04:43] #81 closed

[2016-12-27 11:27] onodera-punpun commented on #81
Thanks!

[2016-12-27 13:13] kori commented on #82
I'm rejoining the team once 3.3 drops.

[2016-12-27 15:24] kori commented on #82
By the way, we should probably license our ports under ISC, no big deal, though.

[2016-12-27 15:26] onodera-punpun commented on #82
I like GPLv3, muh freedom.

[2017-01-24 03:06] maraku opened #84 "rustc: won't build using sudo"
rust doesn't build via sudo, as @onodera-punpun pointed out. just wanted to say that it builds fine using fakeroot in a writable directory as a normal user. should a readme be added to let users know about the problem until a new rust version is released with a fix?

[2017-01-24 03:17] rtlanceroad commented on #84
@maraku You are right. Our Pkgfile will automatically download stage0 to move it to /tmp during build,so you know /tmp is owned by root, therefore sudo is not sufficient and we need real root to build it. Yes, I'll add a README  to mention it. Thanks for noticing us :)

[2017-01-24 03:29] rtlanceroad commented on #84
I think commit bccc47a9b57faed26feeba2d761ac413884e250f fixed it.

[2017-01-24 03:29] #84 closed

[2017-01-24 03:42] rtlanceroad opened #85 "python3-setuptools 34.0.1 needs fixing"
As we can see from commits https://github.com/pypa/setuptools/commit/089cdeb489a0fa94d11b7307b54210ef9aa40511 and https://github.com/pypa/setuptools/commit/336a065df01a4b409f57809a668208d666010a62, they introduced a lot of python dependencies for it. and more interesting thing is, `python3-pip` needs `python3-setuptools` building first, meanwhile `python3-setuptools` 34.0.1 now needs `python3-pip`

[2017-01-25 03:10] rtlanceroad commented on #85
This is what I can come up with. I mixed prt-get with pip3. Feel free to revert and go with other idea.

[2017-01-25 03:10] #85 closed

[2017-01-26 19:45] dlcusa opened #86 "CRUX 3.2 prt-get "cyclic dependencies" problem"
I last ran CRUX 3.2 ports -u on Jan 23.  Today after ports -u, prt-get reports "cyclic dependencies". I analyzed the diffs and came up with the following Depends On changes and port deletions/additions:

[code]

Assuming I did my homework correctly, hopefully at least one of you maintainers will see the problem.

[2017-01-26 19:46] dlcusa commented on #86
That sure didn't format well.  Got an email address I can use like for the other maintainers?

[2017-01-27 09:10] rtlanceroad commented on #86
Thanks for reporting, but I still don't get the point about what your saying, the graph looks messy for me.

cyclic dependencies between/among what packages?

Things need to get clear :)

[2017-01-27 10:40] dlcusa commented on #86
Well, prt-get's "cyclic dependencies" difficulties have been around for over a decade, but that hasn't motivated its maintainers to enhance it to be more clear about where the circular dependencies exist.  Instead, the approach seems to be find out which packages were added, deleted, or otherwise had their Depends On definitions changed to produce the situation.  I've provided that information to

[2017-01-27 11:21] dlcusa commented on #86
[code]

[2017-01-27 11:48] dlcusa commented on #86
[code]

[2017-01-27 13:22] dlcusa commented on #86
[code]
So I sent this to the Maintainer of crux/prt-get (CRUX Support Team, <core-ports@crux.nu>) with suitable back story...

[2017-01-28 04:51] rtlanceroad commented on #86
While I thought I got part of your saying. `cyclic dependencies` seems _unavoidable_ because of several reasons:

-  From [crux homepage](https://crux.nu/), you see ` The primary focus of this distribution is keep it simple, which is reflected in a straightforward tar.gz-based package system, BSD-style initscripts, and a relatively _small collection_ of trimmed packages.` so it means we developers

[2017-01-29 05:19] rtlanceroad commented on #86
I tested packages in Virtualbox with fresh install today and found `cyclic dependencies` between `python3-setuptools` and `python3-pip` when using prt-get. I followed README under package `python3-pip` and it broke `cyclic dependencies` for me. How about you?

[2017-01-29 05:52] dlcusa commented on #86
I can't find any README:
[code]

Are you talking about a `README` installed for `python3-pip`?  I can't find one in the `.footprint` for any of these ports.

Thanks for connecting this to #85--now we're getting somewhere.

[2017-01-29 06:00] rtlanceroad commented on #86
which way are you using to sync 6c37? httpup or git? No matter what you use, just sync repo right now, and you'll find them.

[2017-01-29 06:04] dlcusa commented on #86
I synced a couple hours ago (?).

[2017-01-29 06:07] rtlanceroad commented on #86
The changes were not pushed when you synced it.

[2017-01-29 14:24] dlcusa commented on #86
I never saw the readme--I just ran my portsu script that includes a "prt-cache sysup --test" command that completed nominally.

[2017-01-29 14:24] #86 closed

[2017-01-29 16:43] dlcusa commented on #85
Does this introduce a Depends On: python3-pip for run-time or merely build-time?  Is python3-pip no longer necessary to build python3-setuptools once python3-setuptools has been upgraded to 34.1?

[2017-01-29 18:27] dlcusa commented on #85
Please reopen this issue.  My update after installing `6c37/python3-pip 9.0.1-1` with `6c37/python3-setuptools 34.1.0-1` and `contrib/six 1.10.0-1` installed but no `python3-six` installed failed with the following final messages:
[code]

Is `python3-six` also needed to update `python3-setuptools`?  If so, is it only needed for the build or is there a run-time depends, as well?

[2017-01-30 03:01] dlcusa commented on #85
Well, I did install `python3-six` and tried again, getting:
[code]
I do have the module `/var/lib/pkg/db` thinks I should:
[code]
I am uncertain what else my system lacks, as there are several other possibilities according to prt-cache fsearch.

[2017-01-30 05:54] rtlanceroad commented on #86
`python3-pip` README: https://github.com/6c37/crux-ports/blob/3.2/python3-pip/README
`python3-setuptools` README: https://github.com/6c37/crux-ports/blob/3.2/python3-setuptools/README
they should be in ports.

Now everything should be good to go.

[2017-01-30 06:18] rtlanceroad commented on #85
Yes, `python3-pip` is needed to build `python3-setuptools` 34.0.1 and later version. But for 33.1.1 or before, `python3-pip` is not needed.

No. on the contrary, `python3-pip` is a hard dependency for building `python3-setuptools`, because devs use `import pip` in their bootstrap.py. Also there is a [pre-install](https://github.com/6c37/crux-ports/blob/3.2/python3-setuptools/pre-install) for `pyth

[2017-01-30 12:00] dlcusa commented on #85
If there is now a perpetual dependence on `python3-pip` why is it not in the `# Depend on:` statement in `Pkgfile`?
[code]

I had been avoiding rerunning install scripts for updates, but I guess I need to even though that can break things (even though they're supposed to be sufficiently robust to not do that),  Thanks for pointing that out.  I'll let you know how this goes...

[2017-01-30 13:33] dlcusa commented on #85
It went well--thanks for your support.

[2017-01-31 00:53] rtlanceroad commented on #85
Thanks for the test. Adding `python3-pip` as a dependency of `python3-setuptools` will cause `cyclic dependencies` issue as we discussed before. But for `python3-six`, I'll add it as a dependency of `python3-setuptools`.

[2017-01-31 01:47] dlcusa commented on #85
I understand not adding `python3-pip` to `Depends On` at this time, but will it not cease to be a problem when the older version is no longer around?  I guess I'm recommending a fuller explanation somewhere, probably in the readme and/or as plain old comment lines under or over the `Depends On:` statement.  IMHO, of course.

[2017-01-31 05:14] rtlanceroad commented on #85
That made sense. I'll add it in the README.

[2017-01-31 05:17] rtlanceroad commented on #85
And for the {pre-,post-}install scripts, I heard from Romster that he run them for years without any problem when I used crux at the very beginning. they should be safe to execute.

[2017-02-01 11:34] dlcusa commented on #85
Interestingly, it was Romster who pointed out <https://github.com/pypa/setuptools/issues/950> on `#crux-devel` with incredulity regarding the thus far only response.

[2017-02-02 09:03] rtlanceroad commented on #85
haha

[2017-02-02 20:49] dlcusa commented on #85
So, does <https://github.com/pypa/setuptools/issues/958> resolve the problem?

[2017-02-03 01:36] rtlanceroad commented on #85
I dont know, it looks quite promising. Now you see [install_dep() function runs assuming dependencies are not present](https://github.com/pypa/setuptools/blob/master/bootstrap.py#L92), let's wait some time, I'll test this on the next release.

[2017-02-03 16:08] dlcusa commented on #85
Romster started a long and pertinent discussion on `#crux-devel` at 2017-02-03 10:02 UT -- it looks like he has solved this mess and python3 is headed for the `opt` collection.

[2017-02-04 05:37] rtlanceroad commented on #85
Glad to hear it.

[2017-02-04 06:08] rtlanceroad commented on #85
It(https://github.com/pypa/setuptools/pull/958) doesn't fix the issue, at least in 34.1.1.
I removed `appdirs` `packaging` using `sudo pip3 uninstall appdirs packaging` then removed `python3-pip` using `prt-get remove python3-pip` and finally used `prt-get update -fr python3-setuptools --install-scripts`(because it is previously installed), and this was what I got:
[code]
I see that if dependencie

[2017-02-04 12:50] dlcusa commented on #85
Sounds like this issue needs to be reopened unless you want to drop the `6c37` versions for the `opt` versions (after a little shaking out).

[2017-02-05 03:59] therealromster commented on #85
You should be able to drop python3 and setuptools and its dependencies now. I had seen the mess and decided to fix it up.

[2017-02-05 13:31] rtlanceroad commented on #85
@therealromster  Thanks for bringing `python3` and `python3-setuptools` with its dependency into `opt`!
There are something I see that I think it can be improved:

- In [python3 Pkgfile](https://crux.nu/ports/crux-3.3/opt/python3/Pkgfile), I see you forcely link python3 binary to python3 by `ln -s python${version%.*} $PKG/usr/lib/$name`, nothing wrong, but actually there is an alternative way that

[2017-02-11 03:15] maraku opened #87 "neomutt: build issues with version 20170206"
hey guys, i found a couple of problems with the neomutt Pkgfile:
- there's an md5 mismatch
- the tar file unpacks into a different naming scheme
- the prepare script is now a configure script
- there are trailing spaces in the Pkgfile 😄

here's a patch/diff
[code]

[2017-02-11 05:27] rtlanceroad commented on #87
@maraku Hi, thanks for the report, I just tested it built fine here.

I dont have this issue, maybe your download is corrupted?

Indeeded. The upstream packed the tarball using `$name-$name-$version` and replaced `configure` script with `prepare` script. These are detailed in `INSTALL` file under neomutt source code directory.

I don't see trailing spaces, but there are indeed some problems like `

[2017-02-11 05:41] rtlanceroad commented on #87
I think I am wrong, @onodera-punpun is intended to keep `manual.txt`(I guess for neomutt setup although it's an empty file) and mime.types(I guess for browsering with correct types match). Sorry I'll keep them as they are.

[2017-02-11 05:44] rtlanceroad commented on #87
What do you think? @maraku

[2017-02-12 00:24] therealromster commented on #85
I did try this `https://pypi.python.org/packages/source/${name:0:1}/$name/$name-$version.tar.gz` but i get errors for all but six. `<Code>NoSuchKey</Code>`

[2017-02-12 01:07] therealromster commented on #85
I found the URL that works by chance:
`https://files.pythonhosted.org/packages/source/${name:0:1}/$name/$name-$version.tar.gz`

[2017-02-12 02:29] rtlanceroad commented on #85
Okay, it will redirect to ` https://files.pythonhosted.org/packages/source/${name:0:1}/$name/$name-$version.tar.gz` anyway. :)

[2017-02-12 04:21] kori commented on #82
Unfortunately I ran into complications and won't be able to rejoin the team at this moment.

[2017-02-12 05:02] rtlanceroad commented on #82
Well you are the project lead and we need you to send our private repo keys,

[2017-02-12 05:11] rtlanceroad commented on #82
You could set up an virtual machine and generate key pair ;)

[2017-02-12 08:36] rtlanceroad commented on #85
Those python modules which appear in `opt` just got removed.

[2017-02-12 09:29] maraku commented on #87
sorry @rtlanceroad, it seems my downloads got mixed up (i use PKGMK_SOURCE_DIR=/usr/ports/src), i had downloaded https://github.com/neomutt/neomutt/releases/download/neomutt-20170206/neomutt-20170206.tar.gz (not the Source Code tar gz download)

the other download still is the source code, but it contains a configure script and it unpacks into neomutt-20170206 rather than neomutt-neomutt-20170206

[2017-02-12 10:29] rtlanceroad commented on #87
@maraku If you download a different source tarball,  you need to change Pkgfile accordingly to fix your needs, like source code name structure, the build process etc.. and you may want to pass `-im` and `-if` to prt-get right now.

[2017-02-12 10:30] rtlanceroad commented on #87
It quite makes a difference.

[2017-02-12 17:03] kori commented on #82
Just to leave this documented, project leadership was delegated to onodera a while ago.

[2017-02-12 19:11] onodera-punpun commented on #82
Done :)

[2017-02-12 19:11] #82 closed

[2017-02-13 14:42] rtlanceroad commented on #87
I'll close it now

[2017-02-13 14:42] #87 closed

[2017-02-15 15:01] nihilismus opened #88 "Where is your public key? (6c37.pub)"
Hi, I'm trying to use these ports but I'm getting:

[code]

Where i can find your public key?

[2017-02-15 15:05] rtlanceroad commented on #88
It's here: https://github.com/6c37/cross/tree/master/keys `6c37-git` and `6c37-dropin` keys are also there.

[2017-02-15 17:17] #88 closed

[2017-02-16 08:57] nihilismus opened #89 "emacs: removed important files"
I was getting some errors since this commit: https://github.com/6c37/crux-ports/commit/5b7cc73d19f1667fb322afd584c612aa0bdf345e

[code]

To fix these issues I removed these lines from emacs/Pkgfile:

[code]

As i can understand in your commit you are deleting some `*.el` and `*.map` files required by Emacs.

[2017-02-16 10:07] rtlanceroad commented on #89
@nihilismus Thanks for reporting. I found the problem. It(find $PKG/usr/share/emacs/$version/etc -name '[A-Z]*' -delete) was expected to delete junk files from A to Z under `/usr/share/emacs/$version/etc`by this commit https://github.com/6c37/crux-ports/commit/5b7cc73d19f1667fb322afd584c612aa0bdf345e, but unfornately it also deleted charset. So i'll fix this.
For any README, NEWS and COPYING, `prt

[2017-02-16 11:41] rtlanceroad commented on #89
@nihilismus Try sync repo then update emacs again, it should be fixed by commit https://github.com/6c37/crux-ports/commit/eb194bc05e834082a5e5cf5d0d253c4472158cee .

[2017-02-16 11:41] #89 closed

[2017-02-16 13:23] onodera-punpun commented on #88
I submitted the new URL and keys to the portdb btw, so they should show up on there as well someday.

[2017-02-26 06:58] lounqe opened #90 "Signature mismatch found"
Hi ,
Just to let you know
I got lots of signature mismatch error found in 6c37 and 6c37-git repos like mpv,mpd,dunst,libxdg-basedir etc

[2017-02-26 14:00] onodera-punpun commented on #90
Hmm I do get signature mismatches for mpv, mpd and duns (all 6c37-git ports), but libxdg-basedir works just fine.

I think it has something to do with sourceless Pkgfiles, probably a bug with pkgmk....

[2017-02-26 20:37] rtlanceroad commented on #90
@lounqe Hi, I agreed with @onodera-punpun . Packages in 6c37 repo won't get signature mismatch because they are fixed release. But packages in 6c37-git will cause it because fast development, like new features added in or old features dropped out, will produce a different `.footprint` therefore a different signature.  As I can suggest, you can pass `-is` to pass signature check if you have signatu

[2017-02-28 14:43] jmf opened #91 "Xonotic footprint mismatch"
Apparently, the xonotic package was built without fakeroot, messing up the permissions:

=======> ERROR: Footprint mismatch found:
MISSING   drwxr-xr-x      skrzyp/users    usr/
MISSING   drwxr-xr-x      skrzyp/users    usr/bin/
MISSING   -rwxr-xr-x      skrzyp/users    usr/bin/xonotic-glx
MISSING   drwxr-xr-x      skrzyp/users    usr/share/
MISSING   drwxr-xr-x      skrzyp/users    usr/share/xono

[2017-02-28 15:39] rtlanceroad commented on #91
@jmf  Thanks for reporting, Unfortunately, I can't rebuild because the xonotic source code is nearly 1G and I don't have fast internet connection to download it.
@skrzyp Could you rebuild it with root previlige instead and update the footprint?

[2017-03-01 05:31] justinbloomfield opened #92 "nvidia-340 fails to build on kernel >=4.9"
Changing version to 340.102 worked for me, for both nvidia-340 and nvidia-340-32

[2017-03-01 05:54] rtlanceroad commented on #92
@justinbloomfield Thanks for reporting. I don't have pc with nvidia cards, therefore I can't do a reliable update for them.
@onodera-punpun Could you update both packages?

[2017-03-01 08:47] rtlanceroad commented on #90
I'll close it now.

[2017-03-01 08:47] #90 closed

[2017-03-01 09:42] rtlanceroad commented on #91
fixed by commit 01d20e30126fb4c808f2a5b72d32d2734902eef8

[2017-03-01 09:43] #91 closed

[2017-03-04 10:41] onodera-punpun commented on #92
Thanks for reporting this, updated them.

[2017-03-04 10:41] #92 closed

[2017-03-08 03:09] rtlanceroad opened #93 "Kicad new release 4.0.6"
I can't update kicad to 0.4.6 because wxpython failed to build for me and it is trying to find `gstreamer0.10` and `gstreamer-plugin-base-0.10` cppflags and libraries which are obsolete by Crux Linux already. I'll see @therealromster and I can bring them back....

[2017-03-08 04:20] rmull commented on #93
Thanks, I'll check it out, possibly tomorrow.

[2017-03-08 15:44] rmull commented on #93
Hey, just out of curiosity, did you mistype 0.4.6? 4.0.6 is the new release. 4.0.6 built for me, though I'm not in a clean environment - I just want to make sure you didn't accidentally set the Pkgfile up to pull 0.4.6 instead of 4.0.6.

[2017-03-08 16:39] rtlanceroad commented on #93
Yes, sorry I mistyped. If it built for you, please push :)

[2017-03-08 18:47] rtlanceroad commented on #93
I found the reason why fresh 3.3 install didn't have wxpython built: because in `opt` repo, 3.3 lacked `gstreamer-compat` and `gst-plugins-base-compat`. well 3.2 had . If ones updated 3.2 to 3.3, they still had those two installed.

[2017-03-08 18:56] rmull commented on #93
Good find. I am on a 3.2 -> 3.3 platform, so I must have had those deps. Is the solution to package those ports for 3.3 and include them in the dep list for kicad?

[2017-03-08 19:06] rtlanceroad commented on #93
I will talk to @therealromster first and see if he can port them to 3.3. If not, I'll port them to 6c37. They are not the deps for kicad, for wxpython instead. :)

[2017-03-08 19:10] rmull commented on #93
Great, thanks. I'll keep an eye on this topic.

[2017-03-09 16:29] rtlanceroad commented on #93
@rmull I've pushed a commit(acc8c5c8622e8fa004d493fbcef68b3eb352dfd4), could you check? It should work.

[2017-03-09 18:06] rmull commented on #93
kicad 4.0.6 and the new deps build fine for me. I won't have a chance to run it until later tonight, but I'm feeling confident. Thanks again for resolving this.

[2017-03-10 04:59] rmull commented on #93
I get this message printed to the console when I run kicad:

23:50:41: Warning: Mismatch between the program and library build versions detected.
The library used 3.0 (wchar_t,compiler with C++ ABI 1009,wx containers,compatible with 2.8),
and your program used 3.0 (wchar_t,compiler with C++ ABI 1010,wx containers,compatible with 2.8).

The program would otherwise appear to be running normally. I'm

[2017-03-10 07:18] rtlanceroad commented on #93
Odd. I run kicad from console, and nothing wrongness appears.  From what I see, your wxpython compiled with gcc 5.4.0 and is not compatible with new C++ ABI. Maybe rebuild wxpython with gcc 6.3.0 and furthermore rebuild kicad? :)

[2017-03-10 23:58] rmull commented on #93
Rebuilding wxpython and kicad didn't seem to fix it, so I rebuilt everything on my system and it loads without warning now. Closing this.

[2017-03-10 23:58] #93 closed

[2017-03-31 07:35] zypeh opened #94 "dwarffortress"
dwarffortress should add dependency `glew` in order to install.

[2017-03-31 10:46] rtlanceroad commented on #94
Thanks for report.  @onodera-punpun Could you check this?

[2017-03-31 10:57] onodera-punpun commented on #94
@rtlanceroad I'll do it when I get home, I don't have the 6c37 priv key atm :)

[2017-03-31 20:17] #94 closed

[2017-03-31 20:17] onodera-punpun commented on #94
Thanks for reporting this!

[2017-04-03 15:22] zypeh opened #95 "failed to update package cups"
[code]

[2017-04-03 15:24] zypeh commented on #95
Or can I just ignore the footprint mismatch? Since there is no any missing file.

[2017-04-03 17:15] rtlanceroad commented on #95
@zypeh Yeah you can just ignore the footprint error by passing `-if` to `prt-get` or `pkgmk`.  Btw, it's not our bug, right? So next time, please ask on #crux channel hosted on freenode. :)

[2017-04-03 17:15] #95 closed

[2017-04-04 15:48] jvvv opened #96 "gconf: missing depend libxml2"
Port fails to build if libxml2 port is not installed.
Also, polkit files are in the .footprint though polkit is not listed as dep
and polkit will not be pulled it by current gconf depends list.

[2017-04-04 17:20] rtlanceroad commented on #96
Thanks for reporting. Fixed by commit 281140dba6476dee1dfc229091017dee5e83b380 .

[2017-04-04 17:20] #96 closed

[2017-04-17 09:10] lounqe opened #97 "Gvfs and xdg-user-dirs install problem"
Hi i got this problem today installing gvfs and the same error also for xdg-user-dirs

warning: failed to load external entity "http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl"
cannot parse http://docbook.sourceforge.net/release/xsl/current/manpages/docbook.xsl

I checked the link and its working also docbook-xsl is alreay installed i dont know this problem ?

[2017-04-17 13:28] onodera-punpun commented on #97
Hmm is this during compilation? I just build `xdg-user-dirs` myself, and I didn't get any errors.

[2017-04-17 13:29] onodera-punpun commented on #97
Oh and btw, both `docbook-xsl` and `docbook-xml` have a `post-install`, did you run these?

[2017-04-17 15:16] rtlanceroad commented on #97
@lounqe Yeah. just @onodera-punpun said, run `prt-get update -fr docbook-xml docbook-xsl --install-scripts` to execute post-scripts for those two packages, then you can install `xdg-user-dirs` and `gvfs` without problems. :)

[2017-04-17 16:45] lounqe commented on #97
ok ,it worked ,thanks

[2017-04-17 16:47] onodera-punpun commented on #97
no problem.

[2017-04-17 16:47] #97 closed

[2017-04-17 21:34] jmf opened #98 "libconfuse signature mismatch"
When trying to install libconfuse, I encountered the following error:

[code]

[2017-04-17 21:47] #98 closed

[2017-04-17 21:47] onodera-punpun commented on #98
Fixed, thanks for reporting!

[2017-04-20 10:16] rtlanceroad opened #99 "Move firefox-gtk2 to orphan?"
Esp @onodera-punpun What do you think? This is the error I get when building firefox 53.0:
[code]
It seems that option `ac_add_options --enable-default-toolkit=cairo-gtk2` is no longer available now. Cairo-gtk2 is the 2D library for firefox, if it's no longer listed as a build option, I am kinda sure that firefox gtk2 version is dead. What do you think?

[2017-04-20 11:43] onodera-punpun commented on #99
Yeah I no longer use it myself as well, I ok on this.

[2017-04-20 15:31] rtlanceroad commented on #99
Removed by commit ddf4c243ba563812c5c716aa082de21293bff43b .

[2017-04-20 15:31] #99 closed

[2017-04-20 19:02] onodera-punpun opened #100 "rustc fails to build"
[code]

I did actually read the README and `su` (not `sudo`) to build as well.

Isn't there some way we can force it to use `$PKGMK_WORK_DIR` or something?

[2017-04-21 03:08] rtlanceroad commented on #100
I don't know what's wrong with it, but I built it successfully with root login shell, that is `su -l`.

[2017-04-22 16:34] onodera-punpun commented on #100
I didn't actually build with `su -l`, just root (`su). I see you updated the README already, so I'll close this :).

[2017-04-22 16:34] #100 closed

[2017-04-26 00:56] muphil opened #101 "remove xorg-libxkbcommon"
libxkbcommon has been included in the opt repo. The name is libxkbcommon.
please fix the denpendencies filed in fcitx and possibly remove 6c37/xorg-libxkbcommon.

[2017-04-26 05:34] rtlanceroad commented on #101
Sorry for my mistakenly action and very thankful from your report, I just removed `xorg-libxkbcommon` by commit f8e2b4819341d37ceadc2bfd24b611a038e7aba5 and fixed `fcitx` dependency by commit cf24a27f2ef0abc811f3ff7f4f3c4dc4cd95659e . :)

[2017-04-26 05:34] #101 closed

[2017-04-30 08:05] rtlanceroad opened #102 "Rust 1.17.0 issues."
About 3 days ago, I received an update about `rustc`, which is 1.17.0 release, then I used my spare time to get `Cargo` aka Rust Package Manager and `rustc` to build, then I failed  several times. The reason they did this is because they think their `Cargo` _CRAP_  is [mature enough and mark removal for `Makefile`](https://blog.rust-lang.org/2017/04/27/Rust-1.17.html):
[code]
Now. I am quite frust

[2017-04-30 08:11] rtlanceroad commented on #102
I see there is also binary for it, just note here.

[2017-05-01 07:52] otwieracz opened #103 "gconf expects systemd"
[code]

[2017-05-01 09:42] rtlanceroad commented on #103
Actually It's not systemd, it's `dbus daemon`. You can either run `dbus-daemon --help` or check online man pages to get the idea, like [this](https://linux.die.net/man/1/dbus-daemon-1) or [this](https://dbus.freedesktop.org/doc/dbus-daemon.1.html). Btw, if you want to fix the error, You can pass `-if` to `pkgmk` or `prt-get` to fix bypass footprint check. I don't have issue with gconf footprint he

[2017-05-01 09:42] #103 closed

[2017-05-01 13:48] onodera-punpun commented on #102
Some package templates for inspiration:

https://git.archlinux.org/svntogit/community.git/tree/trunk/PKGBUILD?h=packages/rust
https://git.alpinelinux.org/cgit/aports/tree/community/rust/APKBUILD

[2017-05-02 05:16] rtlanceroad commented on #102
Thanks for the reference, will see it later...

[2017-05-05 03:27] rtlanceroad commented on #102
@onodera-punpun I think I'll leave this to you. I can't download cargo because I can't download cargo nightly from s3.amazonaws.com.
[code]
The `rustc` Pkgfile looks like this:
[code]

Could you update it for us?

[2017-05-05 05:05] rtlanceroad commented on #102
The `bootstrap.py` will download `rust` `rust-std` and `Cargo nightly`(Where I failed to download) three files automatically and extract properly, then build will start, I prefer this way. Also you can use a different cargo build as you like.

[2017-05-05 12:39] onodera-punpun commented on #102
Yeah, I'll try something, I'm pretty sure firefox will depend on rust in their next release and seamonkey in a few versions, so I've been wanting to package this for a while.

[2017-05-06 20:12] onodera-punpun commented on #102
Fixed.

[2017-05-06 20:12] #102 closed

[2017-05-06 22:39] rtlanceroad commented on #102
Thanks

[2017-05-10 19:33] onodera-punpun commented on #102
So because rustc and cargo are bundled in the official rust packages, and because firefox will depend on both cargo and rustc I tried to port rustc, but it's seems like anything rust related is an absolute pain to package.

I suspect this is done on purpose to "gently push" people to use their shitty package manager and rustup shell script instead of distro packages. Anyways, enough conspiracy the

[2017-05-11 02:39] rtlanceroad commented on #102
Yeah I think so.  `Cargo` is a real pain to package. But Is it possible to build firefox with pre-compiled cargo binary?  If possible,  that would make it less painful. Also If it's _really_ necessary, we can creat a binary repo to package binary packages, like thunderbird-bin, palemoon-bin, or  google chrome etc to satisfy users' needs, even It's go far beyond CRUX KISS. Btw I've already dropped

[2017-05-21 06:29] xcko opened #104 "dwarffortress"
By default dwarf fortress install to /opt, but on CRUX /opt is reserved for user compiled programs, I think it should be installed to /usr/share instead.

I can make a patch if you want.

[2017-05-21 08:34] rtlanceroad commented on #104
I think @onodera-punpun is intended to install it to /opt on purpose, so I guess onidera doesn't want to mess games with applications, so he does it for any convience, I am fine with that. Yeah you are right also, /opt is designed for optional packages, especially user compile programs,  according to traditional filesystem hierarchy standrads. We will see onodera's saying.

[2017-05-21 12:51] onodera-punpun commented on #104
I don't exactly remember, but I think I had reasons to use `/opt`, though maybe that reason was just because I couldn't get it to work otherwise. If you can get it to work using `/usr/share` I'll merge it yes :)

[2017-05-21 12:51] #104 closed

[2017-06-07 11:21] rtlanceroad opened #106 "udisks 2.7.0 packaging issues."
Recent udisks2 release has adopted the [`libblockdev`](https://github.com/rhinstaller/libblockdev) library to manage storage instead of calling commands:
[code]
This increases our maintaining burden, because there are several conditional depends and nearly 10 plugins(in user case) to be implemented, see their [configure.ac](https://github.com/rhinstaller/libblockdev/blob/master/configure.ac) file.

[2017-06-17 03:29] rtlanceroad commented on #102
@onodera-punpun Could you update rustc to 1.18.0?

[2017-07-01 15:37] rtlanceroad commented on #106
We will stick to calling commands from command line instead of forcing our users to use `libblockdev` libraries which cause so many dev tools(like ecrypted tools, journaled fs tools, RAIDs etc)installed. The users mostly don't want them to be installed at all to keep a lean,clean system. In this case, we stick to 2.6.5 release.

[2017-07-01 15:37] #106 closed

[2017-07-18 01:39] maraku opened #107 "graphicsmagick signing"
the new graphicsmagick has a signing error. could someone please sign it?
[code]

[2017-07-19 11:32] rtlanceroad commented on #107
Interesting, I don't get a signing error.

[2017-07-19 18:22] rtlanceroad commented on #107
After test in 2 CRUX hosts and 1 virtualbox, I can confirm that nothing's wrong with graphicsmagick's signature. For now, I close it.

[2017-07-19 18:22] #107 closed

[2017-07-20 02:39] maraku commented on #107
it was a silly mistake on my part. i forgot to copy the .pub keys of extra repos while chroot testing. sorry. thanks anyways for looking into it.

[2017-07-22 08:39] jvvv opened #108 "libcaca depends on imlib2"
I know that libcaca builds fine without imlib2, but seems to be pretty much useless without it.

[2017-07-22 20:40] #108 closed

[2017-07-22 23:06] rtlanceroad opened #109 "rustc 1.19.0"
@onodera-punpun Could you do update for rustc? It failed with `exit with code 101` for me with no further information....

[2017-07-27 16:51] #109 closed

[2017-07-27 17:29] onodera-punpun commented on #109
Woops, sorry, I was on holiday :)

[2017-07-27 18:02] rtlanceroad commented on #109
No problem :)

[2017-07-30 03:01] rtlanceroad commented on #109
@onodera-punpun If you got time, try building `seamonkey`, I've built it for nearly 20 times, but still no success...

[2017-07-30 12:19] onodera-punpun commented on #109
I think `seamonkey` is still in 2.48 beta1, or are you talking about that? I'll try building it with rust once the official release releases, which should be very soon hopefully :).

[2017-07-30 12:57] rtlanceroad commented on #109
https://www.seamonkey-project.org/releases/seamonkey2.48/ Kinda confusing to me. I know whatever from downloading or system requirements,  it refers to 2.48 beta1, but why not call this release a seamonkey2.48beta1 instead of seamonkey2.48? Why does the developers recommend a beta version for common users. It must be something strange which leads me to think this 2.48 release is not 2.48beta1.

[2017-08-01 19:18] onodera-punpun opened #110 "The rustc footprint is always changing resulting in a footprint mismatch"
[code]

Should I update or..?

[2017-08-01 19:32] onodera-punpun commented on #110
Anyways I'm thinking of mergin rustc and cargo into one package called rust, thoughts?

[2017-08-01 23:43] rtlanceroad commented on #110
Actually according to Arch Linux, our `rustc` already provides us with `cargo`, i would like to call it renaming rather than merging if you did it. it's kinda no actual point right? For the footprint error, the real pain is the sonames with format `package-snapshot.so` is always changing because of fast development in `cargo` nightly builds. If we want a static footprint, we need to use a `cargo`

[2017-08-02 10:44] onodera-punpun commented on #110
Yeah, but according to the footprint this is not the case for us (or, at least for my rustc build), I'm not sure why....

[2017-08-27 13:40] onodera-punpun opened #111 "New boost breaks openimageio build with Python"
Disabling Python seems to fix the build, but we should re-enable python with the new release.

There seems to be a patch, but I can't get it to apply to the current release: https://github.com/OpenImageIO/oiio/commit/f67ae87d820a12c0451f8877e735c49b44dbbf63

[2017-08-27 15:41] rtlanceroad commented on #111
To be honest, I don't find any reason why we need build oiio with python2/3 bindings... or is there any software relying on such feature? I don't know. In the past, we built it as what CMakefile.txt defined, that was, built bindings for python2, but now i think about a little bit, we can turn python binding off, no matter which python veesion is.

[2017-08-27 19:42] onodera-punpun commented on #111
Blender prints this on startup: `Color management: using fallback mode for management`, but it might have done so before as well. I'm not sure if blender requires the python binding (since Blender uses lots of python under the hood).

[2017-08-28 04:57] #111 closed

[2017-09-04 12:33] onodera-punpun opened #112 "openimageio: Footprint mismatch found."
[code]

I don't know if this is something on my end or what.

[2017-09-04 13:36] rtlanceroad commented on #112
It's because I have `qt4` installed when I'm updating oiio. Please update the footprint, @onodera-punpun :)

[2017-09-04 13:41] #112 closed

[2017-12-11 08:58] kori commented on #110
Alternative suggestion: package rustup and drop cargo and rustc.

[2017-12-19 04:15] mwsoft69 opened #113 "kicad libraries"
Why aren't the kicad component  libraries installed by default. Its no big deal to get them and install them, but it would be nice if it works out of the box.

Thanks,
Mitch

[2017-12-19 17:12] rtlanceroad commented on #113
Thanks for the advice. It was the idea original from @rmull . Remember we are source-based distro, third party libraries will cause footprint mismatch if there are some commits pushed by devs from time to time. To guarantee no footprint mismatch, current solution seems better, at least in my opinion. :)

[2017-12-19 22:46] mwsoft69 commented on #113
Sounds good! Yeah the current solution works just fine.

[2017-12-20 03:01] rtlanceroad commented on #113
Closing.

[2017-12-20 03:01] #113 closed

[2017-12-21 19:59] onodera-punpun opened #114 "Blender fails to build with openimageio 1.8"
I'll try fixing this, I can't seem to immediately pinpoint the problem (something with oiio).

[code]

[2017-12-23 06:15] rtlanceroad commented on #114
Although I am not familiar with C++, not from what I see. it's namespace prblem: So you can change `blender-2.79/intern/cycles/graph/node_xml.h` line 31 like the following:
[code]
or
[code]

The above two, like the error says, are candidates to choose. You can choose one of them and try if it works. If it works for you, please generate a patch and push it to our repo.

[2017-12-23 12:39] onodera-punpun commented on #114
I wonder what causes this because Google doesn't display any results when I search for the error. Maybe we use a newer OIIO than most distros?

[2017-12-23 12:55] rtlanceroad commented on #114
Yeah I guess so.

[2017-12-23 13:28] #114 closed

[2018-01-06 02:48] rtlanceroad opened #115 "Firefox 57.0.4 update"
Firefox 57.0.4 fix the bug that it avoids one side attack with respect to meltdown and spectre. It's very critical, we need to update. My side problem is even though I have clang installed, I can't get stylo compiled .

[2018-01-06 02:50] rtlanceroad commented on #115
Also In Pkgfile, this part represents twice, so it needs a cleanup:

[code]

[2018-01-06 12:22] onodera-punpun commented on #115
Yes, I'm already working on this :). Yesterday my build crashed 50% in :/.

[2018-01-06 12:26] onodera-punpun commented on #110
Is issue this still the case? I don't think so.

[2018-01-06 13:06] onodera-punpun commented on #115
Seem like once again there is some rust issue that makes the build fail:

https://github.com/mozilla/gecko-dev/commit/cf341df19ad7ac0c552077852a37cd9c96d1fcc4

[2018-01-06 14:23] #115 closed

[2018-01-07 02:35] rtlanceroad commented on #110
Should be not the case. I checked our rust footprint with arch's in testing, they are all match.

[2018-01-07 12:24] onodera-punpun commented on #110
I'll close this then :)

[2018-01-07 12:24] #110 closed

[2018-01-12 21:11] jvvv opened #116 "apulse: missing cmake dependency"

[2018-01-13 01:29] rtlanceroad commented on #116
Exactly. Fixed in commit 47f4f3e238d9c2ef9e26e66009db208f15920132 , Thanks for telling us!

[2018-01-13 01:29] #116 closed

[2018-01-21 13:17] rtlanceroad opened #117 "firefox-quantum 58.0 update"

[2018-01-21 13:48] onodera-punpun opened #118 "Vivaldi update"

[2018-01-21 16:00] #117 closed

[2018-01-21 16:04] onodera-punpun opened #119 "Audio stopped working in firefox-quantum 58"
Using ALSA, anyone else experiencing this?

[2018-01-22 01:42] rtlanceroad commented on #119
I think you need to file a bug in the firefox forum and I find a bunch of people have ALSA issues with latest firefox/firefox developer edition.

[2018-01-22 08:13] onodera-punpun commented on #119
Sadly they dropped ALSA support in 56 or 57 so I doubt they'll fix it. Nonetheless I'll look for patches.

[2018-01-23 08:10] rtlanceroad opened #120 "android-tools update for CVE-2017-0647"
7.0.0-p24 is vulnerable, need to update to 7.0.0-r33  at least. I get message from [here](http://metadata.ftp-master.debian.org/changelogs/main/a/android-platform-system-core/android-platform-system-core_7.0.0+r33-2_changelog):
[code]
The current situation is lacking of prepacked tarball. git clone will take up at least 10G space, and alphine devs don't provide anything for us.

[2018-01-23 08:55] rtlanceroad commented on #120
According to [Alphine APKBUILD](https://git.alpinelinux.org/cgit/aports/tree/testing/android-tools/APKBUILD), it's easy to create a snapshot:
[code]
After they are created, we can find a place to host them.

[2018-01-23 09:02] rtlanceroad commented on #120
The `URL(https://android.googlesource.com/platform)` is blocked in my country and git clone through proxy is hell slow here, I leave it to someone else...

[2018-01-24 21:19] onodera-punpun commented on #119
Fixed in https://github.com/6c37/crux-ports/commit/4f6d57fad2bca4e950a7c668d75c052a72f48854

More info: https://github.com/i-rinat/apulse#firefox-58-tabs-crashing-when-trying-to-play-audio

[2018-01-24 21:19] #119 closed

[2018-01-25 10:02] onodera-punpun opened #121 "Firefox about:config modifications"
I'm thinking of settings some alternative default about:config values in firefox-quantum, thoughts about this?

Examples would be https://github.com/6c37/crux-ports/issues/119#issuecomment-360276653 and various privacy enhancements.

[2018-01-25 12:27] rtlanceroad commented on #121
Go ahead. I don't know how, but I think
We can provide a sample `preference.js` and notify user that you can use `preference.js` to enhance privacy
or
Directly replace default preference with our changed preference.

[2018-01-27 06:21] rtlanceroad commented on #120
I see gentoo forks pushed a [commit](https://github.com/gentoo/gentoo/commit/4ae818f00f38343a8dca9787c3ee7337b3654546) today, so I follow the functions in the ebuild and find the problem: our `unpack_source()`  function defined in `/usr/bin/pkgmk` is quite limited and it will extract all the files by default, which will cause file overwrite if multi source files listed. Since `pkgmk` only recogniz

[2018-01-27 06:23] rtlanceroad commented on #120
I emailed `Sören Tempel <soeren+alpine@soeren-tempel.net>` two days ago，he replied:
[code]
Hopefully there will be a tarball soon...

[2018-01-31 02:12] rtlanceroad opened #122 "firefox 58.0.1 multiple security fixes"

[2018-01-31 20:09] #122 closed

[2018-02-07 22:40] rtlanceroad opened #123 "firefox 58.0.2 bug fixes release"

[2018-03-03 16:17] #123 closed

[2018-03-06 00:56] xcko opened #124 "lua-lpeg luajit dependency"
lua-lpeg lists luajit as a dependency, yet when built without luajit installed, there is no footprint mismatch/missing files. Is it really needed?

[2018-03-08 10:19] rtlanceroad commented on #120
Sören Tempel emailed me a few days ago with an updated alphine build: 8.1

[2018-03-08 10:36] rtlanceroad commented on #124
You are right, it's not needed, I'll remove it from depends.

[2018-03-08 10:39] #124 closed

[2018-03-10 13:29] onodera-punpun commented on #120
Sorry for the late response, I'll try updating this package today.

[2018-03-10 14:58] onodera-punpun commented on #120
[code]

[2018-03-10 15:16] onodera-punpun commented on #120
I'll leave this issue open for now. I pushed an (untested) binary release. I want to update my phone soon so then I'll get time to test this.

[2018-03-10 17:43] rtlanceroad commented on #120
Thanks for the update. I myself use adb and fastboot very rarely. I remembered that I only used adb push Lineage OS rom to sd card once. Most of the time, I copy ROM through TWRP's mounting MTP mode, because I have libmtp installed.

[2018-03-12 05:56] maraku commented on #120
I'm getting a signature mismatch with the new android tools update.
[code]

[2018-03-12 14:35] rtlanceroad commented on #120
@maraku I'm not surprised because we use latest binary from google and it will change always. Due to CRUX's package manager is limitted for unpacking sources, I don't know a method to handle it. Sorry for any inconvinence. You can ignore the signature and footprint for a workaround, or use binary locally.

[2018-03-12 15:30] onodera-punpun commented on #118
Vivaldi is closed source and I no longer use it so this might take a while. 😅

[2018-03-13 13:20] rtlanceroad commented on #118
I am aware about that.

[2018-03-13 13:23] rtlanceroad opened #125 "Firefox 59.0.2 update"

[2018-03-14 10:53] onodera-punpun commented on #125
I have to wait for a bit because Mozilla still hasn't uploaded the source tar: https://ftp.mozilla.org/pub/firefox/releases/59.0/

I however created to Pkgfile already :).

[2018-03-15 07:30] rtlanceroad commented on #125
For now we can just use [mercurial repository](https://hg.mozilla.org/releases/mozilla-release/archive/c61f5f5ead48c78a80c80db5c489bdc7cfaf8175.tar.bz2) for updaring. I don't know what they didn't pack the tarball, but here it is.

[2018-03-15 07:34] rtlanceroad commented on #118
If it's hard to update, or you won't want to maintain it, we can just move it to orphan. I don't think anyone use it.

[2018-03-15 08:29] onodera-punpun commented on #125
I just treid this yesterday and after an hour of compiling it failed with `install`ing the files. The thing is I don't know if this is because the mc repo is slightly different or what.

[2018-03-15 19:53] onodera-punpun opened #126 "Firefox: use better source"
We are using a temporary (big) tar from mercurial atm.

[2018-03-15 23:19] mhoush opened #127 "httpup REPO files are out of sync"
Greetings! Just opening this issue to report that the REPO files for crux-ports, crux-ports-git, and crux-ports-dropin are all out of sync. While git may be the primarily-preferred method of obtaining these repositories, the portdb uses httpup for them, so their data will be inaccurate there.

[2018-03-16 10:49] rtlanceroad commented on #125
Sorry about this. @onodera-punpun Could you?

[2018-03-16 10:50] rtlanceroad commented on #126
Because we had to.

[2018-03-16 11:05] rtlanceroad commented on #127
You are right. We suggest users to use git for instant updates/fixes. I just update REPO file periodically when I work full time on it. I hope portdb has a way of handling git changes. Thanks for letting us know.

[2018-03-16 11:09] rtlanceroad commented on #125
By the way, this release still does not provide a tarball release. What wrong with firefox? ...

[2018-03-16 13:19] onodera-punpun commented on #125
I asked about this in their irc and they said "priorities".

[2018-03-22 13:17] kori commented on #121
I would advise against this. Vanilla packages should take precedence over regular ones.

If you want, maybe create a separate package with 6c37-sanctioned settings or something like that, but there needs to be a vanilla package.

[2018-03-24 20:33] rtlanceroad opened #128 "Blender 2.79b failed to build"
I got this issue when building blender 2.79b in VM:

[code]
That was called from `blender-2.79b/intern/cycles/util/util_simd.h:260:20`: line `return _tzcnt_u32(v);`.
I googled it and found that it sound like compiler target in WM doesn't support it.

[2018-03-24 20:34] rtlanceroad commented on #128
@onodera-punpun Care to take a look at it?

[2018-03-25 06:06] rtlanceroad commented on #128
`/usr/lib/gcc/x86_64-pc-linux-gnu/6.4.0/bmiintrin.h` line 104:
[code]
It looks like it calls IA32's function which our gcc doesn't have a support.

[2018-03-25 17:22] onodera-punpun opened #129 "monero: 0.11.1.0 -> 0.12.0.0"
Right now I can't get it to build, see https://github.com/monero-project/monero/issues/3495 for some logs.

[2018-03-25 17:24] onodera-punpun commented on #128
What does VN (and WM) stand for here?

[2018-03-25 17:26] onodera-punpun commented on #126
Closing this, we'll track with https://github.com/6c37/crux-ports/issues/125

[2018-03-25 17:26] #126 closed

[2018-03-25 17:26] onodera-punpun commented on #125
I'll wait a few more days for a source release or else I just go with the big mercurial one.

[2018-03-25 17:47] onodera-punpun commented on #128
I got blender to build just fine.

[2018-03-25 23:43] rtlanceroad commented on #128
Yes, virtual machine. I have to build the ports on a fresh system for general goods, therefore launching a virtual machine is better. please push the update.

[2018-03-26 07:39] onodera-punpun commented on #128
I'll do when I'm home. Did you make any changes to the `Pkgfile` besides changing the version number

[2018-03-26 11:27] rtlanceroad commented on #128
No. but there is something:
[code]
Pay attention to the `${version%a}` , else license won't be removed. :)

[2018-03-27 18:03] #128 closed

[2018-03-27 18:33] onodera-punpun commented on #129
@rtlanceroad Could you please try building 0.12.0.0 and see if you're getting the same error as me?

[2018-03-27 19:20] #125 closed

[2018-03-27 20:40] #129 closed

[2018-04-07 14:35] rtlanceroad commented on #118
I just removed vivaldi from repo for several reasons:
[code]

[2018-04-07 14:35] #118 closed

[2018-04-19 14:23] rtlanceroad opened #130 "3.4 branch"
- [x] Create master branch
- [x] Create master branch for 6c37-git
- [x] Create master branch for 6c37-dropin
- [x] Remove `rust`
- [x] Check if all ports still compile
- [x] Update REPO
- [x] Mail crux team with new git info
- [x] Fix wiki, links etc
- [x] Update stuff in the cross repo

[2018-04-19 14:48] onodera-punpun commented on #130
We should probably make the `3.4` branch `master` once it actually has been released, seeing how port github links now break every release.

[2018-04-19 23:02] rtlanceroad commented on #130
Yeah, we need to fix sync file everytime a new release is out. Can we just rename `3.4` branch back to `master` branch  for not breaking github links?  If we do that, gcc ABI mismatch is the only serious issue for us because a ABI mismatch will gets linker error during package build. As far as I can see, updating 6.4.0 -> 7.3.0 won't get ABI change, so it's safe.

[2018-04-23 22:45] rtlanceroad opened #131 "Rust 1.26.0 update"
Sorry, It continues fail for me, I'll leave it to you, onodera.

[2018-05-01 10:50] rtlanceroad opened #132 "Firefox 59.0.3 update"

[2018-05-01 13:32] onodera-punpun commented on #131
The build failed for me a few times towards the end, this might take a bit.

[2018-05-10 19:11] onodera-punpun commented on #131
[code]

...

[2018-05-11 01:42] rtlanceroad commented on #131
I hate it too. Maybe we can change buid style to use local cache insead of donwloading from boostrap.py? I think we can have a try. This is [update from frinnst on `3.4` branch](https://crux.nu/gitweb/?p=ports/opt.git;a=commit;h=efff40224cf8d8cef3f95553e12c4df24464d564), He succeeded.

[2018-05-11 07:25] onodera-punpun commented on #131
Oh I'm glad frinnst is starting to maintain this. I'll look into his port tonight.

[2018-05-11 20:10] #131 closed

[2018-05-13 10:52] onodera-punpun commented on #130
I'll be installing 3.4 today hopefully.

[2018-05-13 19:46] onodera-punpun commented on #130
Changed to the `master` branch (we'll leave `3.3` for what it is?), removed `rust` since it is in `opt` now, we'll be keeping `firefox-quantum` I think, because it as a few nice `.mozconfig` options.

[2018-05-13 23:31] rtlanceroad commented on #130
Great! Remember to email infrastructure team that we changed sync file to `master` branch and used a new link. :)

[2018-05-14 00:34] ghost opened #133 "`3.3` branch will be erased in a month"
We can give users one month to finish updating or (re)installing 3.4, but during the time, `3.3` won't receive any update from us since we are working on `master` now.

[2018-05-14 15:46] rtlanceroad commented on #127
track issue on #130

[2018-05-14 15:46] #127 closed

[2018-05-16 07:15] onodera-punpun commented on #130
Thanks a lot, I'll mail the new files to the crux team tonight :)

[2018-05-16 23:02] rtlanceroad opened #134 "Firefox 60.0.1 update"
This is also the first esr release for 60.x series.

[2018-05-17 19:37] onodera-punpun commented on #134
I once again can't get `rust` to build (not compatible with libressl), so this might take a while.

[2018-05-17 22:01] #134 closed

[2018-06-04 18:51] onodera-punpun commented on #130
Send a mail, closing this :)

[2018-06-04 18:51] #130 closed

[2018-06-17 12:45] onodera-punpun opened #135 "rtlanceroad vanished"
It seems like rtlanceroad/xeirrr vanished and deleted his github account for some reason. Since he did *a lot* of the maintaining things might get a bit slower from now on.

Thank you rtlanceroad for all the hard work you put into this repo. I hope you are alright. I hope you can come back, as always you can find me in #6c37.

[2018-06-17 12:46] #133 closed

[2018-07-05 15:58] seiflek opened #136 "arandr: signature mismatch"
Hey guys
there's a signature mismatch in the current port of arandr v0.1.9-1 :

`# fakeroot pkgmk`
`=======> ERROR: Signature mismatch found:`
`MISMATCH        signify`
`=======> ERROR: Building '/usr/ports/6c37/arandr/arandr#0.1.9-1.pkg.tar.gz' failed.`

while the fingerprint and md5sum are still valid since the package still compiles fine with `-is` flag.

`# md5sum -c .md5sum`
`arandr-0.1.9.tar

[2018-07-05 18:58] seiflek commented on #136
sorry but it was a my mistake, don't know why but the pubkey i was using was pulled from crux website and it fails to check the signature, i've pulled the pubkey provided here, and it now works fine.

[2018-07-08 13:22] onodera-punpun commented on #136
I'll leave this open because I have check out what caused this crux-website key not working.

[2018-07-08 13:52] seiflek commented on #136
maybe i was using the old key, cause i didn't use my crux installation for a while, i was trying to move from gentoo to crux, so i installed it but i didn't use it untill now, i got the chance to.

[2018-08-13 19:53] beta-phenylethylamine opened #137 "Neovim fails in ./configure"
[code]

The problem lies in that lua-bitop only works in lua 5.1 and lua-lpeg only works in 5.3, despite them both installing for more than one version (bit: 5.1, 5.2, lpeg: 5.1, 5.2, 5.3)

[code]

[2018-08-13 20:01] beta-phenylethylamine commented on #137
I don't know much about lua so I'm not sure why this is happening, but it's work noting `require "mpack"` works fine on all three versions

[2018-08-17 17:13] beta-phenylethylamine commented on #137
well, now that i've started poking around and starting to try and make my own ports for them, I find that they both work in luajit when built exactly like the Pkgfile for each defines

so I tried building neovim again with no changes to any of the packages and... it worked

strange, but I guess I have no complaints

Closing

[2018-08-17 17:13] #137 closed